/*
Component describing basic elements styles - reusable
*/

::root {
	--desktop-width: 1070px;
	--mobile-width: 640px;
	--min-mobile-width: 320px;
	--light-inner-border: #e3e3e3;
	/* Theme colors virables */
	--light-background: #f5f5f5;
	--normal-background: #999;
	--normal-dark-background: #666;
	--dark-background: #333;
	--normal-rounded-border: 6px;
	--left-rounded-border: 6px 0 0 6px;
	--right-rounded-border: 0 6px 6px 0;
	--top-rounded-border: 6px 6px 0 0;
	--bottom-rounded-border: 0 0 6px 6px;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: sans-serif;
}

body {
	background-color: #ffffff;
	color: #333333;
	margin: 0;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
	background-color: var(--light-background);
}

* {
	box-sizing: border-box;
}
*:before,
*:after {
	box-sizing: border-box;
}

html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
h1, h2, h3, h4, h5, p {
	color: var(--dark-background);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 35px;
	line-height: 44px;
	margin: 0 0 22px 0;
}
h2 {
	font-size: 28px;
	line-height: 44px;
	margin: 0 0 22px 0;
}
h3 {
	font-size: 19px;
	line-height: 22px;
	margin: 0 0 22px 0;
}
h4 {
	font-size: 14px;
	line-height: 22px;
	margin: 0 0 22px 0;
}
h5 {
	font-size: 11.6px;
	line-height: 22px;
	margin: 0 0 22px 0;
}
h6 {
	font-size: 10.5px;
	line-height: 22px;
	margin: 0 0 22px 0;
}

p {
	font-size: 14px;
	line-height: 22px;
	margin: 0 0 22px 0;
}

small {
	font-size: 80%;
	line-height: 22px;
}

hr {
	color: var(--light-background);
	margin: 0 0 20px 0;
}

header {
	align-items: center;
}

footer {
	padding: 22px 0 0 0;
}

img {
	margin-bottom: 22px;
	width: 100%;
}

button {
	border: 1px solid transparent;
}

form {
	margin-bottom: 21px;
}

ul {
	margin: 0 0 22px 0;
}

li {
	line-height: 22px;
}
