/*
Component describing basic elements styles - reusable
*/

::root {
	--desktop-width: 1070px;
	--mobile-width: 640px;
	--min-mobile-width: 320px;
	--light-inner-border: #e3e3e3;

	/* Theme colors virables */
	--white-background: #ffffff;
	--light-background: #f5f5f5;
	--light-medium-background: #e3e3e3;
	--lighter-medium-background: #ebebeb;
	--normal-light-background: #ddd;
	--normal-light-medium-background: #BEBDBD;
	--normal-background: #999;
	--normal-dark-background: #666;
	--dark-background: #333;
	--light-error-background: #D69592;
	--success-background: #5CB85C;
	--success-light-background: #71C171;
	--success-dark-background: #3A733A;
	--error-background: #D9534F;
	--error-dark-background: #9B3E3B;
	--info-background: #4892A4;
	--progress-background: #f89406;

	/* Text colors */
	--white-text: #ffffff;
	--light-text: #e3e3e3;
	--medium-text: #bbbbbb;
	--hint-text: #b3b3b3;
	--light-normal-text: #909090;
	--normal-text: #666666;
	--dark-text: #2E2E2E;
	--success-text: #5CB85C;
	--error-text: #D9534F;
	--progress-text: #f89406;

}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/roboto/roboto-light-webfont.eot');
	src: url('/fonts/roboto/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
		url('/fonts/roboto/roboto-light-webfont.woff') format('woff'),
		url('/fonts/roboto/roboto-light-webfont.ttf') format('truetype'),
		url('/fonts/roboto/roboto-light-webfont.svg#roboto') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/roboto/roboto-regular-webfont.eot');
	src: url('/fonts/roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('/fonts/roboto/roboto-regular-webfont.woff') format('woff'),
		url('/fonts/roboto/roboto-regular-webfont.ttf') format('truetype'),
		url('/fonts/roboto/roboto-regular-webfont.svg#roboto') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/roboto/roboto-bold-webfont.eot');
	src: url('/fonts/roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('/fonts/roboto/roboto-bold-webfont.woff') format('woff'),
		url('/fonts/roboto/roboto-bold-webfont.ttf') format('truetype'),
		url('/fonts/roboto/roboto-bold-webfont.svg#roboto') format('svg');
	font-weight: 700;
	font-style: normal;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: sans-serif;
	background-color: var(--light-background);
}

body {
	color: var(--dark-text);
	margin: 0;
	font-size: 14px;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	line-height: 22px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
*:before,
*:after {
	box-sizing: border-box;
}

html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
h1, h2, h3, h4, h5, p {
	color: var(--dark-text);
	font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 35px;
	line-height: 44px;
}
h2 {
	font-size: 28px;
	line-height: 44px;
}
h3 {
	font-size: 22px;
	font-weight: 300;
}
h5 {
	font-size: 11.6px;
}
h6 {
	font-size: 10.5px;
}

a {
	text-decoration: underline;
	color: var(--normal-text);
	cursor: pointer;
}
a:hover,
a:focus,
a:active {
	color: var(--dark-text);
}

small {
	font-size: 80%;
}

hr {
	background: var(--light-background);
	margin-top: -1px;
	border: none;
	height: 1px;
}

header {
	align-items: center;
}

ul,
ol {
	list-style: none;
}

dt {
	font-weight: bold;
	font-size: 18px;
}

dt,
dd {
	margin: 11px 0;
}

dt:first-child {
	margin-top: 0;
}

button {
	border: 1px solid transparent;
}

fieldset {
	border: none;
}

.disabled,
[disabled] {
	cursor: not-allowed;
	background-color: #fff;
	opacity: 0.4;
}
.disabled * {
	cursor: not-allowed;
}

.content {
	margin: 0 auto;
	max-width: var(--desktop-width);
	padding: 0 10px;
}

dialog {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	border: solid;
	background: var(--white-background);
	color: var(--dark-text);
	z-index: 999;
}

section, header, dialog, footer, fieldset, nav,
figcaption, article, figure, output, audio, aside,
canvas, hgroup, video {
	display: block;
}

img {
	border: none;
}

/*
Styles applied while screen size is less than 640px
*/
@media only screen and (max-width: var(--mobile-width)) {
	.content {
		min-width: var(--min-mobile-width);
	}
}
