/*
Component describing basic elements styles - reusable
*/

::root {
	--desktop-width: 1070px;
	--mobile-width: 640px;
	--min-mobile-width: 320px;
	--light-inner-border: #e3e3e3;
	/* Theme colors virables */
	--white-background: #ffffff;
	--light-background: #f5f5f5;
	--normal-background: #999;
	--normal-dark-background: #666;
	--dark-background: #333;
	--success-background: #5CB85C;
	--error-background: #D9534F;
	--light-error-background: #D69592;
	/* Text colors */
	--white-text: #ffffff;
	--light-text: #e3e3e3;
	--normal-text: #666666;
	--dark-text: #333333;
	--success-text: #5CB85C;
	--error-text: #D9534F;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: sans-serif;
}

body {
	background-color: #ffffff;
	color: var(--dark-text);
	margin: 0;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
	background-color: var(--light-background);

}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
*:before,
*:after {
	box-sizing: border-box;
}

html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
h1, h2, h3, h4, h5, p {
	color: var(--dark-text);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 35px;
	line-height: 44px;
	margin: 0 0 22px 0;
}
h2 {
	font-size: 28px;
	line-height: 44px;
	margin: 0 0 22px 0;
}
h3 {
	font-size: 19px;
	line-height: 22px;
	margin: 0 0 22px 0;
}
h4 {
	font-size: 14px;
	line-height: 22px;
	margin: 0 0 22px 0;
}
h5 {
	font-size: 11.6px;
	line-height: 22px;
	margin: 0 0 22px 0;
}
h6 {
	font-size: 10.5px;
	line-height: 22px;
	margin: 0 0 22px 0;
}

a {
	text-decoration: underline;
	color: var(--normal-text);
	cursor: pointer;
}
a:hover,
a:focus,
a:active {
	color: var(--dark-text);
}

p {
	font-size: 14px;
	line-height: 22px;
	margin: 0 0 22px 0;
}

small {
	font-size: 80%;
	line-height: 22px;
}

hr {
	color: var(--light-background);
	margin: 0 0 20px 0;
}

header {
	align-items: center;
}

footer {
	padding: 22px 0 0 0;
}

img {
	margin-bottom: 22px;
	width: 100%;
}

button {
	border: 1px solid transparent;
}

form {
	margin-bottom: 22px;
}

ul {
	margin: 0 0 22px 0;
}

li {
	line-height: 22px;
}

li ul {
	margin: 0;
}

.disabled {
	cursor: not-allowed;
	background-color: #fff;
	opacity: 0.4;
}
.disabled * {
	cursor: not-allowed;
}
