form {
	line-height: 22px;
	font-family: "Helvetica";
}

.form-elements {
	list-style: none;
	padding-left: 0;
}
ul.form-elements li {
	margin-bottom: 0;
}

.form-elements .dbjs-input-component {
	display: block;
	padding: 11px 0;
}

.dbjs-input-component label, .control {
	display: inline-block;
	vertical-align: top;
	padding: 0 10px;
}
.dbjs-input-component > label {
	width: 40%;
	text-align: right;
	font-weight: bold;
}
.control {
	width: 60%;
}

ul.radio {
	list-style: none;
	padding-left: 0;
}

ul.radio, ul.radio li {
	display: inline;
}

ul.radio li {
	margin-right: 5px;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"],
select {
	background-color: var(--white-background);
	border-radius: 4px;
	border: 1px solid var(--light-inner-border);
	box-shadow: inset 0 1px 1px var(--light-background);
	color: var(--dark-text);
	max-width: 100%;
	text-transform: none;
	height: 30px;
	margin: -5px 0 -5px;
	font-size: 14px;
	font-family: "Helvetica";
	padding: 0 5px;
}
@-moz-document url-prefix() {
	input[type="text"],
	input[type="number"],
	input[type="email"],
	input[type="password"],
	input[type="date"],
	input[type="month"],
	input[type="week"],
	input[type="time"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="search"],
	input[type="email"],
	input[type="url"],
	input[type="tel"],
	input[type="color"],
	select {
		margin-bottom: -6px;
	}
}

input[type="submit"] {
	height: 30px;
	border-radius: 4px;
	color: var(--white-text);
	background-color: var(--normal-background);
	border: none;
	box-shadow: none;
	font-size: 14px;
	margin-bottom: 22px;
	margin: -5px 0 -5px;
	padding-left: 10px;
	padding-right: 10px;
}

textarea {
	background-color: var(--white-background);
	border-radius: 4px;
	border: 1px solid var(--light-inner-border);
	box-shadow: inset 0 1px 1px var(--light-background);
	color: var(--dark-text);
	width: 100%;
	text-transform: none;
	min-height: 70px;
	margin: -5px 0 -5px;
	font-size: 14px;
	padding: 10px 10px 0;
	font-family: "Helvetica";
}

.submit-placeholder {
	margin-left: 40%;
	padding-left: 13px;
}

/* Input pre-element (span) */
.input-prepend input {
	border-radius: 0 4px 4px 0;
}

.input-append input {
	border-radius: 4px 0 0 4px;
	width: 77%;
}

.add-on {
	background-color: var(--light-background);
	border-radius: 4px 0 0 4px;
	border: 1px solid var(--light-inner-border);
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	line-height: 28px;
	min-width: 30px;
	text-align: center;
	width: auto;
	margin: -5px 0;
}

.input-append .add-on {
	border-radius: 0 4px 4px 0;
}

@-moz-document url-prefix() {
	.input-append button.add-on {
		line-height: 26px;
	}
}
.error-message {
	color: var(--error-text);
}

/* dbjs components */
/* Default styles */
.dbjs-input-component .required-status {
	color: var(--error-text);
	display:none;
	font-weight: bold;
	margin-left:5px;
	visibility:hidden;
	line-height: 22px;
}

.dbjs-input-component .validation-status {
	color: var(--success-text);
	display:none;
	font-weight: bold;
	margin-left:5px;
	visibility:hidden;
	line-height: 22px;
}
@-moz-document url-prefix() {
	.dbjs-input-component .required-status,
	.dbjs-input-component .validation-status {
		line-height: 21px;
	}
}

/* Do not show statuses for disabled controls */
.dbjs-input-component *:disabled ~ span.validation-status {
	display: none;
}
.dbjs-input-component *:disabled ~ span.required-status {
	display: none;
}

/* Changed & valid */
.dbjs-input-component.valid.changed span.validation-status {
	visibility: visible;
	display: inline-block;
}

/* Changed & invalid */
.dbjs-input-component.invalid.changed span.validation-status {
	visibility: visible;
	display: inline-block;
}

/* Saved */
.dbjs-input-component.dbjs-filled.not-changed span.validation-status {
	visibility: visible;
	display: inline-block;
	color: var(--success-text);
}

/* Required */
.dbjs-input-component.required.not-changed.dbjs-empty span.required-status {
	visibility: visible;
	display:inline-block;
}

.dbjs.multiple {
	display: inline-block;
	list-style-type: none;
}

.dbjs.multiple ul {
	list-style-type: none;
	padding: 0;
	margin-bottom: 0;
}

ul.multiple {
	margin-bottom: 0;
}

.dbjs.multiple ul li:first-child {
	padding-top: 0;
}
.dbjs.multiple ul li {
	padding-top: 10px;
	padding-bottom: 11px;
}

.dbjs.multiple ul li:last-child{
	margin-bottom: 10px;
}

.dbjs.multiple ul li a {
	background-color: var(--normal-background);
	color: var(--white-text);
	border-radius: 11px;
	padding: 2px 7px 4px 7px;
	font-size: 12px;
	margin-left: 5px;
}
.inline-button-radio  {
	margin-bottom: 22px;
}
.inline-button-radio input[type="radio"] {
	display: none;
}
.inline-button-radio label {
	border: 1px solid var(--light-inner-border);
	padding: 11px;
	cursor: pointer
}
.inline-button-radio label:first-child {
	border-radius: 4px 0 0 4px;
}
.inline-button-radio label:last-child {
	border-radius: 0 4px 4px 0;
}
.inline-button-radio .success {
	background: var(--success-background);
	color: var(--white-text);
}
.inline-button-radio .error {
	background: var(--error-background);
	color: var(--white-text);
}

.form-single-control input[type="submit"] {
	margin-left: 20px;
}

/*
Styles applied while screen sieze is less than 640px
*/
@media only screen and (max-width: var(--mobile-width)) {
	.form-elements .dbjs-input-component {
		padding: 0;
	}
	.form-elements label, .control {
		display: block;
		width: 100%;
	}

	.form-elements  label {
		text-align: left;
		font-weight: bold;
	}
	.control {
		text-align: left;
		padding: 11px 10px;
	}

	.submit-placeholder {
		margin-left: 0;
		padding-left: 10px;
		text-align: left;
	}

	.dbjs.multiple .controls a {
		display: inline;
	}

	ul.radio, ul.radio li {
	display: list-item;
}

	ul.radio {
		margin-bottom: 0;
	}

	ul.radio li label:first-child {
		padding-top: 0;
	}

	ul.radio li label {
		padding-bottom: 0;
	}
	.inline-button-radio label:first-child{
		border-radius: 4px 4px 0 0;
	}
	.inline-button-radio label:last-child {
		border-radius: 0 0 4px 4px;
	}
}
