form {
	font-family: "Roboto";
}

/* For web-kit browser default fieldset min-width override.
For more information, please refer to:
http://stackoverflow.com/a/17863685/1484847 */

fieldset {
	min-width: 0;
}

/* For firefox browser default fieldset display override.
For more information, please refer to:
http://stackoverflow.com/a/17863685/1484847 */

@-moz-document url-prefix() {
	fieldset {
		display: table-cell;
	}
}

input, textarea, button {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.form-elements {
	list-style: none;
	padding-left: 0;
}

ul.form-elements li {
	margin-bottom: 0;
}

.form-elements .dbjs-input-component {
	display: block;
}

.input,
.inputs {
	line-height: 44px;
}

.dbjs-input-component-read-only .input {
	line-height: 22px;
	margin: 11px 0;
}

.input .file-thumb {
	line-height: 22px;
}

.inputs {
	display: inline-block;
	max-width: 90%;
}
.input .radio,
.input .checkbox {
	line-height: 22px;
	padding-top: 11px;
}

.radio {
	list-style: none;
	padding-left: 0;
}

.form-elements .radio,
.form-elements .radio li {
	display: inline-block;
}

.radio li {
	margin-right: 5px;
}

.radio li div ul {
	padding-left: 10px;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"],
select {
	background-color: var(--white-background);
	border-radius: 4px;
	border: 1px solid var(--light-inner-border);
	box-shadow: inset 0 1px 1px var(--light-background);
	color: var(--dark-text);
	max-width: 100%;
	text-transform: none;
	line-height: 22px;
	/* Height set to 30px in order to work properly in IE,
		previously height of 30px was achieved by
		line-height 22px, paddins 3ps and border 1px */
	height: 30px;
	font-size: 14px;
	padding: 3px 5px;
}

.day-of-year-type-field .year {
	display: none;
}

select[multiple] {
	height: auto;
}

/* Safari hack  */
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
}

.form-elements .hint {
	display: block;
	font-size: 12px;
	width: 100%;
	color: var(--hint-text);
	line-height: 16px;
	min-height: 22px;
}

input[type="submit"],
button[type="submit"] {
	line-height: 22px;
	border-radius: 4px;
	color: var(--white-text);
	background-color: var(--normal-background);
	border: none;
	box-shadow: none;
	font-size: 14px;
	padding: 4px 10px;
	cursor: pointer;
}
@-moz-document url-prefix() {
	input[type="submit"],
	button[type="submit"] {
		padding: 1px 10px 5px;
	}
}

input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active,
button[type="submit"]:hover,
button[type="submit"]:focus,
button[type="submit"]:active {
	color: var(--white-text);
	background-color: var(--normal-dark-background);
	outline: none;
}

.completed input[type="submit"] {
	background-color: var(--success-text);
}

textarea {
	background-color: var(--white-background);
	border-radius: 4px;
	border: 1px solid var(--light-inner-border);
	box-shadow: inset 0 1px 1px var(--light-background);
	color: var(--dark-text);
	line-height: 22px;
	margin-top: 10px;
	margin-bottom: -8px; /* To assure it doesn't expand line-height of element in which textarea is placed */
	font-size: 14px;
	padding: 0 5px;
}
@-moz-document url-prefix() {
	textarea {
		padding: 7px 10px 1px;
	}
}
.input-aside,
.dbjs-input-component .input-aside {
	display: flex;
}

/* Chrome flex display defect fix. Defect raised for Chrome browser
https://code.google.com/p/chromium/issues/detail?id=409581 */
.input-aside > span:first-child {
	display: table;
}

.input-aside input[type="checkbox"],
.input-aside input[type="radio"] {
	vertical-align: 1px;
}

.input-aside > span:first-child + * {
	padding-left: 5px;
}

.submit-placeholder {
	margin-left: 40%;
	padding-left: 13px;
}

/* Input pre-element (span) */
.input-prepend,
.input-append {
	white-space: nowrap;
}

.input-prepend input {
	border-radius: 0 4px 4px 0;
	border-left: none;
}

.input-prepend input,
.input-append input {
	max-width: 90%;
	position: relative;
	z-index: 1;
}

.input-prepend input:only-child,
.input-append input:only-child {
	border-radius: 4px;
	border: 1px solid var(--light-inner-border);
}

.input-append input {
	border-radius: 4px 0 0 4px;
	border-right: none;
}

.add-on {
	background-color: var(--light-background);
	border-radius: 4px 0 0 4px;
	border: 1px solid var(--light-inner-border);
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	line-height: 28px;
	min-width: 30px;
	text-align: center;
	width: auto;
	padding-left: 5px;
	padding-right: 5px;
}

.input-append .add-on {
	border-radius: 0 4px 4px 0;
}

.input-append .add-on .fa {
	vertical-align: middle;
}

.error-message {
	display: block;
	width: 100%;
	color: var(--error-text);
	line-height: 22px;
}

.success-message {
	display: block;
	width: 100%;
	color: var(--success-text);
	line-height: 22px;
}
.dbjs-component-message {
	width: 60%;
	margin-left: 40%;
	padding-left: 13px;
}

/* dbjs components */
/* Default styles */
.dbjs-input-component .statuses {
	display: inline-block;
	vertical-align: top;
}

.dbjs-input-component .status-missing,
.dbjs-input-component .status-ok,
.dbjs-input-component .status-error {
	display:none;
	font-weight: bold;
	margin-left:5px;
	visibility:hidden;
	line-height: 22px;
}

.dbjs-input-component .status-missing,
.dbjs-input-component .status-error  {
	color: var(--error-text);

}

.dbjs-input-component .status-ok {
	color: var(--success-text);
}

@-moz-document url-prefix() {
	.dbjs-input-component .status-missing,
	.dbjs-input-component .status-ok,
	.dbjs-input-component .status-error {
		line-height: 21px;
	}
}

/* Do not show statuses for disabled controls */
.dbjs-input-component *:disabled ~ span.status-ok {
	display: none;
}
.dbjs-input-component *:disabled ~ span.status-missing {
	display: none;
}
.dbjs-input-component *:disabled ~ span.status-error {
	display: none;
}

/* Changed & valid */
.dbjs-input-component.valid.changed span.status-ok,
.dbjs-input-component.valid.dbjs-filled.not-changed.dbjs-not-own span.status-ok {
	visibility: visible;
	display:inline-block;
	opacity: 0.5;
}

/* Changed & invalid */
.dbjs-input-component.invalid.changed.dbjs-filled span.status-error {
	visibility: visible;
	display:inline-block;
}

/* Saved */
.dbjs-input-component.dbjs-filled.not-changed.dbjs-own span.status-ok {
	visibility: visible;
	display:inline-block;
}

/* Missing */
.dbjs-input-component.dbjs-required.invalid.dbjs-empty span.status-missing {
	visibility: visible;
	display:inline-block;
}

.optional .dbjs-input-component.dbjs-required.not-changed.dbjs-empty span.status-missing {
	display: none;
}

.dbjs.multiple {
	display: inline-block;
	list-style-type: none;
	max-width: 100%;
}

.dbjs.multiple .controls {
	display: inline-block;
}

.dbjs.multiple ul {
	list-style-type: none;
	padding: 0;
	margin-bottom: 0;
	display: inline-block;
	max-width: 97%;
}

.dbjs.multiple .template {
	display: none;
}

.dbjs.multiple ul li:only-child .dbjs-multiple-button-remove {
	display: none;
}

.form-elements .radio.multiline > li {
	display: block;
}

ul.multiple {
	margin-bottom: 0;
}

.dbjs.multiple ul li:first-child {
	padding-top: 0;
}

.dbjs.multiple .dbjs-multiple-button-remove,
.dbjs.multiple .dbjs-multiple-button-add {
	margin-left: 6px;
	text-decoration: none;
}
.dbjs.multiple .dbjs-multiple-button-remove .fa,
.dbjs.multiple .dbjs-multiple-button-add .fa {
	vertical-align: middle;
	font-size: 18px;
}

.inline-button-radio  {
	line-height: 44px;
	display: inline-block;
}
.inline-button-radio input[type="radio"] {
	display: none;
	font-size: 0;
}
.inline-button-radio label {
	border: 1px solid var(--light-inner-border);
	border-left: none;
	padding: 3px 11px;
	cursor: pointer;
	font-size: 14px;
}

.inline-button-radio label:first-child, .inline-button-radio > script:first-child + label {
	border-radius: 4px 0 0 4px;
	border-left: 1px solid var(--light-inner-border);
}
.inline-button-radio label:last-child {
	border-radius: 0 4px 4px 0;
}
.inline-button-radio label {
	background: var(--light-background);
}
.inline-button-radio .success {
	background: var(--success-background);
	color: var(--white-text);
}
.inline-button-radio .error {
	background: var(--error-background);
	color: var(--white-text);
}

.form-single-control input[type="submit"] {
	margin-left: 20px;
}

.readonly {
	cursor: not-allowed;
	opacity: 0.5;
}

.auto-submit .submit {
	display: none;
}

.pure-value .input {
	line-height: 22px;
}

.placeholder-fallback {
	display: none;
}

/*
Styles applied while screen size is less than 640px
*/
@media only screen and (max-width: var(--mobile-width)) {
	.form-elements .dbjs-input-component > .label,
	.form-elements .dbjs-input-component > .input {
		display: block;
		width: 100%;
	}

	.form-elements  label {
		text-align: left;
	}

	.form-elements .radio li {
		display: block;
	}
	.form-elements .radio li label {
		font-weight: normal;
	}

	.submit-placeholder {
		margin-left: 0;
		padding-left: 10px;
		text-align: left;
	}

	.dbjs.multiple .controls a {
		display: inline;
	}

	.radio, .radio li {
		display: list-item;
	}

	.radio {
		margin-bottom: 0;
	}

	.radio li label:first-child {
		padding-top: 0;
	}

	.radio li label {
		padding-bottom: 0;
	}

	.inline-button-radio label:first-child{
		border-radius: 4px 4px 0 0;
	}
	.inline-button-radio label:last-child {
		border-radius: 0 0 4px 4px;
	}
	.form-elements .radio {
		display: inline-block;
		padding-top: 11px;
	}
	.dbjs-component-message {
		margin-left: 0;
		width: 100%;
	}
}
