form {
	font-family: "Helvetica";
}

.form-elements {
	list-style: none;
	padding-left: 0;
}

form ul {
	list-style: none;
}

ul.form-elements li {
	margin-bottom: 0;
}

.form-elements .dbjs-input-component {
	display: block;
}

.input,
.inputs {
	line-height: 44px;
}

.inputs {
	display: inline-block;
}
.input .radio,
.input .checkbox {
	line-height: 22px;
	padding-top: 11px;
}

.radio {
	list-style: none;
	padding-left: 0;
}

.form-elements .radio,
.form-elements .radio li {
	display: inline-block;
}

.radio li {
	margin-right: 5px;
}

.radio li div ul {
	padding-left: 10px;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"],
select {
	background-color: var(--white-background);
	border-radius: 4px;
	border: 1px solid var(--light-inner-border);
	box-shadow: inset 0 1px 1px var(--light-background);
	color: var(--dark-text);
	max-width: 100%;
	text-transform: none;
	line-height: 22px;
	font-size: 14px;
	font-family: "Helvetica";
	padding: 3px 5px;
}
select {
	height: 30px;
}

.form-elements .hint {
	display: block;
	font-size: 12px;
	width: 100%;
	color: var(--hint-text);
	line-height: 22px;
}

input[type="submit"] {
	line-height: 22px;
	border-radius: 4px;
	color: var(--white-text);
	background-color: var(--normal-background);
	border: none;
	box-shadow: none;
	font-size: 14px;
	padding: 4px 10px;
}

textarea {
	background-color: var(--white-background);
	border-radius: 4px;
	border: 1px solid var(--light-inner-border);
	box-shadow: inset 0 1px 1px var(--light-background);
	color: var(--dark-text);
	line-height: 22px;
	margin-bottom: -17px; /* To assure it doesn't expand line-height of element in which textarea is placed */
	font-size: 14px;
	padding: 10px 5px;
	font-family: "Helvetica";
}
@-moz-document url-prefix() {
	textarea {
		padding: 7px 10px 1px;
	}
}
.input-aside,
.dbjs-input-component .input-aside {
	display: flex;
}

/* Chrome flex display defect fix. Defect raised for Chrome browser
https://code.google.com/p/chromium/issues/detail?id=409581 */
.input-aside > span:first-child {
	display: table;
}

.input-aside input[type="checkbox"],
.input-aside input[type="radio"] {
	vertical-align: 1px;
}

.input-aside > span:first-child + * {
	padding-left: 5px;
}

.submit-placeholder {
	margin-left: 40%;
	padding-left: 13px;
}

/* Input pre-element (span) */
.input-prepend {
	white-space: nowrap;
}

.input-prepend input {
	border-radius: 0 4px 4px 0;
	max-width: 90%;
	border-left: none;
}

.input-append {
	white-space: nowrap;
}

.input-append input {
	border-radius: 4px 0 0 4px;
	max-width: 90%;
	border-right: none;
}

.add-on {
	background-color: var(--light-background);
	border-radius: 4px 0 0 4px;
	border: 1px solid var(--light-inner-border);
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	line-height: 28px;
	min-width: 30px;
	text-align: center;
	width: auto;
}

.input-append .add-on {
	border-radius: 0 4px 4px 0;
}

@-moz-document url-prefix() {
	.input-append button.add-on {
		line-height: 26px;
	}
}
.dbjs-input-component .error-message {
	display: block;
	width: 100%;
	color: var(--error-text);
	line-height: 22px;
}

/* dbjs components */
/* Default styles */
.dbjs-input-component .statuses {
	display: inline-block;
	vertical-align: top;
}

.dbjs-input-component .status-missing,
.dbjs-input-component .status-ok,
.dbjs-input-component .status-error {
	display:none;
	font-weight: bold;
	margin-left:5px;
	visibility:hidden;
	line-height: 22px;
}

.dbjs-input-component .status-missing,
.dbjs-input-component .status-error  {
	color: var(--error-text);

}

.dbjs-input-component .status-ok {
	color: var(--success-text);
}

@-moz-document url-prefix() {
	.dbjs-input-component .status-missing,
	.dbjs-input-component .status-ok,
	.dbjs-input-component .status-error {
		line-height: 21px;
	}
}

/* Do not show statuses for disabled controls */
.dbjs-input-component *:disabled ~ span.status-ok {
	display: none;
}
.dbjs-input-component *:disabled ~ span.status-missing {
	display: none;
}
.dbjs-input-component *:disabled ~ span.status-error {
	display: none;
}

/* Changed & valid */
.dbjs-input-component.valid.changed span.status-ok {
	visibility: visible;
	display:inline-block;
	opacity: 0.5;
}

/* Changed & invalid */
.dbjs-input-component.invalid.changed span.status-error {
	visibility: visible;
	display:inline-block;
}

/* Saved */
.dbjs-input-component.dbjs-filled.not-changed span.status-ok { visibility: visible;
	display:inline-block;
}

/* Required */
.dbjs-input-component.required.not-changed.dbjs-empty span.status-missing {
	visibility: visible;
	display:inline-block;
}

.dbjs.multiple {
	display: inline-block;
	list-style-type: none;
}

.dbjs.multiple ul {
	list-style-type: none;
	padding: 0;
	margin-bottom: 0;
}

.dbjs.multiple ul li:only-child .dbjs-multiple-button-remove {
	display: none;
}

.form-elements .radio.multiline > li {
	display: block;
}

ul.multiple {
	margin-bottom: 0;
}

.dbjs.multiple ul li:first-child {
	padding-top: 0;
}

.dbjs.multiple ul li a {
	background-color: var(--normal-background);
	color: var(--white-text);
	border-radius: 11px;
	padding: 2px 7px 4px 7px;
	font-size: 12px;
	vertical-align: 1px; /* Fixes weird 1px jump due to font-size */
	margin-left: 5px;
	text-decoration: none;
}
.inline-button-radio  {
	margin-bottom: 22px;
}
.inline-button-radio input[type="radio"] {
	display: none;
}
.inline-button-radio label {
	border: 1px solid var(--light-inner-border);
	padding: 11px;
	cursor: pointer
}
.inline-button-radio label:first-child {
	border-radius: 4px 0 0 4px;
}
.inline-button-radio label:last-child {
	border-radius: 0 4px 4px 0;
}
.inline-button-radio .success {
	background: var(--success-background);
	color: var(--white-text);
}
.inline-button-radio .error {
	background: var(--error-background);
	color: var(--white-text);
}

.form-single-control input[type="submit"] {
	margin-left: 20px;
}

/*
Styles applied while screen sieze is less than 640px
*/
@media only screen and (max-width: var(--mobile-width)) {
	.form-elements .dbjs-input-component > .label,
	.form-elements .dbjs-input-component > .input {
		display: block;
		width: 100%;
	}

	.form-elements  label {
		text-align: left;
	}

	.form-elements .radio li {
		display: block;
	}
	.form-elements .radio li label {
		font-weight: normal;
	}

	.submit-placeholder {
		margin-left: 0;
		padding-left: 10px;
		text-align: left;
	}

	.dbjs.multiple .controls a {
		display: inline;
	}

	.radio, .radio li {
		display: list-item;
	}

	.radio {
		margin-bottom: 0;
	}

	.radio li label:first-child {
		padding-top: 0;
	}

	.radio li label {
		padding-bottom: 0;
	}

	.inline-button-radio label:first-child{
		border-radius: 4px 4px 0 0;
	}
	.inline-button-radio label:last-child {
		border-radius: 0 0 4px 4px;
	}
	.form-elements .radio {
		display: inline-block;
		padding-top: 11px;
	}
}
