::root {
	--desktop-width: 1070px;
	--light-inner-border: #e3e3e3;

	/* Theme colors virables */
	--white-background: #ffffff;
	--light-background: #f5f5f5;
	--normal-light-background: #ddd;
	--normal-background: #999;

	/* Text colors */
	--dark-text: #333333;
	--normal-text: #999;
	--white-text: #ffffff;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: sans-serif;
	background: var(--white-background);
}

body {
	color: var(--dark-text);
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 22px;
	padding-top: 22px;
	width: var(--desktop-width);
	margin: 0 auto;
}
body > * {
	margin-bottom: 22px;
}

body > section > * {
	margin-bottom: 22px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, p {
	color: var(--dark-text);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
	font-size: 28px;
	line-height: 44px;
}

hr {
	background: var(--light-background);
	margin-top: -1px;
	border: none;
	height: 1px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

ul,
ol {
	list-style: none;
}

.disabled,
[disabled] {
	background-color: #fff;
	opacity: 0.4;
}
