table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 22px;
}
/* Zebra striping */
tbody tr:nth-of-type(odd) {
	background-color: var(--light-background);
}
th {
	color: var(--dark-text);
}

td a {
	text-decoration: none;
	color: var(--dark-text);
}

@media only screen and (max-width: var(--mobile-width)) {
	.desktop-only {
		display: none;
	}
}
