table {
	width: 100%;
	border-collapse: collapse;
}
/* Zebra striping */
tbody tr:nth-of-type(odd) {
	background-color: var(--light-background);
}
th {
	color: var(--dark-text);
}
td a {
	text-decoration: none;
	color: var(--dark-text);
}

table .actions {
	text-align: center;
}
table .actions a:first-child {
	margin-right: 5px;
}
table .actions a,
table .actions button {
	background-color: var(--normal-background);
	border-radius: 3px;
	color: var(--white-text);
	font-size: 12px;
	line-height: 18px;
	padding: 3px 6px 4px;
	text-align: center;
	text-decoration: none;
	vertical-align: text-bottom;
	white-space: nowrap;
	cursor: pointer;
}
table .actions a:hover,
table .actions a:focus,
table .actions a:active,
table .actions button:hover,
table .actions button:focus,
actions button:active {
	background-color: var(--normal-dark-background);
}
table .actions button {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0 7px 1px;
	position: relative;
	top: 2px;
	padding-top: 1px;
	padding-bottom: 2px;
}
table .actions a > span,
table .actions button > span {
	vertical-align: middle;
}

table .actions .actions-delete {
	background-color: var(--error-background);
}

table .actions .actions-delete:hover,
table .actions .actions-delete:focus,
table .actions .actions-delete:active {
	background-color: var(--error-dark-background);
}

@media all and (-ms-high-contrast:none) {
	table .actions a {
		padding: 3px 7px;
	}

	table .actions button {
		top: 3px;
		padding: 1px 7px;
	}
}

table .actions form {
	display: inline;
}
table .actions form p {
	display: inline;
}

.empty tr > td {
	text-align: center;
}

@media only screen and (max-width: var(--mobile-width)) {
	.desktop-only {
		display: none;
	}
}
