
<!-- Content of <main> element, on Home page of public pages -->

<div class="public-banner" id="banner">
		<div class="public-banner-text content">
				<div class="public-banner-box-text">
						<h1>${ _("Turn your online business on") }</h1>
						<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in massa malesuada, pharetra urna nec, pellentesque tortor. </h3>
						<a class="button-main" href="#register">${ _("Create account") }</a>
				</div>
				<div class="public-baner-box-img">
				</div>
		</div>
</div>
<div class="content">
		<ul class="public-steps">
				<li class="public-steps-clickable">
						<a href="/lorem/">
								<img src="${ stRoot }img/icon-one.png" />
								<h3>${ _("Create your file") }</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut nequepharetra, pellentesque risus in, condimentum nulla.</p>
						</a>
				</li>
				<li>
						<img src="${ stRoot }img/icon-one.png">
						<h3>${ _("Pay costs") }</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut nequepharetra, pellentesque risus in, condimentum nulla. </p>
						<p><a class="public-steps-button" href="/">${ _("More info") }</a></p>
				</li>
				<li>
						<img src="${ stRoot }img/icon-one.png">
						<h3>${ _("Remove certificates") }</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut nequepharetra, pellentesque risus in, condimentum nulla. </p>
						<p><a class="public-steps-button" href="/">${ _("More info") }</a></p>
				</li>
		</ul>
</div>
