/*
.l-conetainer - main container of page, is a flexible container.
Is used to set felxibility on its descendants.
*/
.l-container {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19 */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

/*
.l-cont-primary - primary container - boxed are equali sprede in container,
has max-width of 1050px, is centered on page. Need to be used with .l-container
*/
.l-container.l-cont-primary {
	justify-content: space-between;
	-webkit-justify-content: space-between;
	max-width: 1050px;
	margin: 0 auto;
}

/*
.l-cont-secondary - second type of container. boxes are spreaded one
by one in a horizontal row. Its width is a full page width.
*/
.l-container.l-cont-secondary {
	width: 100%;
}

/*
.l-banner - class that can be added to .l-cont-secondary in order to add a
responsive background image for this container.
*/
.l-container.l-cont-secondary.l-banner {
	background-image: url('../img/baner.png');
	background-size: cover;
	background-position: center center;
}

/*
.l-footer - class that can be added to .l-cont-secondary in order
to add background color for this container.
*/
.l-container.l-cont-secondary.l-footer {
	background-color: #333;
}

/*
.l-baner-box-secondary  - class describing a image element in full width banner
(.l-cont-secondary) at this time used to set position of image element
center element.
*/
.l-baner-box-secondary {
	align-self: flex-end;
	-webkit-align-self: flex-end;
	min-width: 50%;
}

/*
Styles applied while screen sieze is less than 640px
*/
@media only screen and (max-width: 640px) {
	/*
	Rulse that make element that are in any container wrap in multiple lines
	*/
	.l-container {
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
	}

	/*
	Changing allignemt centraly of elements in footer while screen sieze is less
	than 640px
	*/
	.l-footer div {
		margin: 0 auto;
	}
}