.l-container {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	padding: 10px 0;
}

@media only screen and (max-width: 640px) {
	.l-container {
		flex-wrap: wrap;
	}
	.l-footer div {
		margin: 0 auto;
	}
}

.l-container.l-primary {
	justify-content: space-between;
	max-width: 1050px;
	margin: 0 auto;
}

.l-container.l-secondary {
	width: 100%;
}

.l-container.l-secondary.l-banner {
	background-image: url('../img/baner.png');
}

.l-container.l-secondary.l-footer {
	background-color: #333;
}

