
/*
Class descirbing how main header splits space between its elements. Elemetns are
spreaded equaliy in 1050px space. Used i.e. with logo and simple menu
*/
.basic-header {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19 */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	max-width: 1050px;
	margin: 0 auto;
	padding: 10px 0px;
}

/*
Class describing how home page bunner is displayed as full width cover for i.e
home page.
*/
.public-banner {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19 */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	width: 100%;
	background-image: url('../img/baner.png');
	background-size: cover;
	background-position: center center;
	min-height: 385px;
}

/*
Class describing how boxes for informations insight banner are displayed
*/
.public-banner div.banner-infos {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19 */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  margin: 0 auto;
  max-width: 1050px;
}

/*
	Class used for sticking img in banner bottom line, having 50% of banner width
*/
.baner-box-img {
	align-self: flex-end;
	-webkit-align-self: flex-end;
	min-width: 50%;
}

/*
 c
*/
.public-text {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19 */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	max-width: 1050px;
	margin: 0 auto;
	padding: 30px 0px;
}

/*
 Setting footer with logos as full width container with specific colour background
*/
.footer-logos {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19 */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
	background-color: #333;
	width: 100%;
}

/*
 Class used for styling footer logos. Boxes are equaliy spreaded insight
 of 1050px row.
*/
.footer-logos div {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19 */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	max-width: 1050px;
	margin: 0 auto;
}

/*
*/
div.steps-menu {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19 */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
	background-color: #333;
	background-size: cover;
	background-position: center center;
	width: 100%;
	padding: 10px 0;
}
div.steps-menu nav {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19 */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	width: 1050px;
	margin: 0 auto;
}
div.steps-menu nav menuitem {
	background-color: white;
	background-color: #333;
}

/*
*/
section.business-guide {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19 */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	max-width: 1050px;
	margin: 0 auto;
	background-color: #f5f5f5;
}

section.business-guide h1 {
	width: 100%;
}
section.business-guide div {
	width: 49%;
}
section.business-guide button {
	margin: 1% 0;
	width: 49%;
}
/*
Styles applied while screen sieze is less than 640px
*/
@media only screen and (max-width: 640px) {

	/*
		Setting flexibity wrap, so boxes are placed one under another.
	*/
	.basic-header,
	.public-text,
	.public-banner .banner-infos,
	.footer-logos div,
	div.steps-menu nav  {
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
	}
	section.business-guide div {
		width: 100%;
	}
}