ul.m-menu-basic {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    list-style: none;
    height: 100%;
}

ul.m-menu-basic li {
    margin-right: 15px;
    color: #777777;
}

.m-banner {
    height: 345px;
    width: 1050px;
}

.m-box-secondary {
    text-align: center;
    max-width: 100%;
}

.m-box-secondary img {
    margin: 0 auto;
}