.input-aside,
.dbjs-input-component .input-aside {
	display: block;
}
.input-aside > span:first-child,
.input-aside > div {
	display: inline-block;
	vertical-align: top;
}
.input-aside > div {
	width: 90%;
}

.auto-submit .submit {
	display: block;
}

.placeholder-fallback {
	display: block;
	width: 100%;
	line-height: 22px;
}

::placeholder { color: #ffffff; }
::-webkit-input-placeholder { color: #ffffff; }
::-moz-placeholder { color: #ffffff; }
:-moz-placeholder { color: #ffffff; }
:-ms-input-placeholder { color: #ffffff; }

.inline-button-radio input[type="radio"] {
	display: inline-block;
	width: 0;
	opacity: 0;
}
