.input-aside,
.dbjs-input-component .input-aside {
	display: block;
}
.input-aside > span:first-child {
	display: inline-block;
}
.auto-submit .submit {
	display: block;
}

.placeholder-fallback {
	display: block;
	width: 100%;
	line-height: 22px;
}

input::placeholder {
	color: #ffffff;
}
