body {
	margin: 8px;
	padding-top: 11px;
	font-family: Helvetica;
	font-size: 14px;
}

.print-header {
	margin-bottom: 8px;
}

.print-header > * {
	display: inline-block;
	vertical-align: middle;
}

.print-header-logos {
	width: 50%;
	display: inline-block;
}

.print-header-logos > * {
	display: inline-block;
	height: 26px;
	margin-right: 8px;
}

.print-header-title {
	text-align: right;
	width: 49%;
	display: inline-block;
}

.print-header-title h2 {
	vertical-align: bottom;
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 4px;
}

.data-section {
	width: 100%;
	color: #181818;
	text-align: left;
	margin-top: 8px;
	margin-bottom: 8px;
	page-break-inside: avoid;
	border-collapse: collapse;
}

.data-section th,
.data-section td {
	width: 25%;
	padding: 4px;
	font-weight: 300;
	font-size: 10px;
	vertical-align: top;
	border: 1px solid #EAEAEA;
}

.data-section th label,
.data-section td label {
	display: block;
	font-weight: 700;
	margin-bottom: 4px;
	font-size: 8px;
}

.data-section .data-section-heading {
	background-color: #BFBFBF;
	border: 1px solid #BFBFBF;
	border-bottom: 1px solid #EAEAEA;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
}

.data-section .data-section-heading-subsection {
	background-color: #F2F2F2;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 10px;
}

.data-section .signature {
	height: 84px;
}

.data-section.signing .data-section-heading-subsection {
	text-transform: none;
}

footer {
	margin-top: 44px;
	font-size: 12px;
}
