body {
	margin: 0 66px;
	padding-top: 22px;
	font-family: Helvetica;
	font-size: 14px;
}

ul {
	margin-bottom: 33px;
	margin-top: 0;
}

ul li {
	font-size: 14px;
}

* {
	box-sizing: border-box;
}

.print-header {
	margin-bottom: 22px;
}

.print-header > * {
	display: inline-block;
	vertical-align: middle;
}

.print-header > img {
	width: 32%;
	display: inline-block;
}

.print-header-title {
	text-align: right;
	width: 67%;
	display: inline-block;
}

.print-header-title h2 {
	vertical-align: bottom;
	font-size: 20px;
	margin-bottom: 0;
}

.sub-header {
	margin-top: 22px;
	padding: 11px 15px;
	background-color: #999999;
	border-radius: 3px;
	text-align: center;
	margin-bottom: 22px;
}
.sub-header h2 {
	margin: 0;
}
