.breadcrumb {
	background-color: var(--normal-light-background);
	background-position: center center;
	background-size: cover;
	display: flex;
	width: 100%;
	line-height: 44px;
}
.breadcrumb-content {
	max-width: 1070px;
	padding: 0 10px;
	margin: 0 auto;
	width: 100%;
}
.breadcrumb-item {
	padding: 0 10px;
	text-decoration: none
}
.breadcrumb-item:hover,
.breadcrumb-item:focus,
.breadcrumb-item:active {
	text-decoration: underline;
}
