.business-process-submitted-box {
	margin: 22px -20px;
	padding: 21px 20px;
	background: var(--light-background);
	border-top: 1px solid var(--light-text);
	border-bottom: 1px solid var(--light-text);
}

.business-process-submitted-box-header {
	display: flex;
	justify-content: space-between;
}

.business-process-submitted-box-header-document-title .fa-external-link {
	margin-left: 8px;
	vertical-align: middle;
}

.business-process-submitted-box-controls {
	vertical-align: middle;
	line-height: 22px;
}

.business-process-submitted-box-controls .label-doc-type {
	display: inline-block;
	font-size: 12px;
	vertical-align: middle;
	border-radius: 3px;
	background: var(--light-text);
	padding: 0 6px;
	color: var(--white-text);
}

.business-process-submitted-box-controls a .fa-angle-right,
.business-process-submitted-box-controls a .fa-angle-left {
	vertical-align: middle;
}

.business-process-submitted-box-controls .label-doc-type + a {
	margin-left: 16px;
}

.business-process-submitted-box .form-elements > li {
	display: inline-block;
	padding: 0 8px;
	vertical-align: middle;
}

.business-process-submitted-selected-document {
	display: block;
}

.business-process-submitted-selected-document .submitted-preview-document {
	width:59%;
	margin-right: 2%;
	display: inline-block;
}

.business-process-submitted-selected-document .submitted-preview-document-history {
	width:39%;
	display: inline-block;
	margin: 0;
}

.business-process-submitted-selected-document .submitted-preview-document-history h3 {
	margin: 0;
	line-height: 44px;
}

.business-process-submitted-box .business-process-submitted-list {
	display: block;
	width: 100%;
}

.section-primary-sub.all-documents-table {
	max-height: 242px;
	overflow: hidden;
	overflow-y: scroll;
	border: 1px solid var(--light-medium-background);
}

.business-process-submitted-selected-document .entity-data-section {
	margin-bottom: 22px;
}

.business-process-submitted-selected-document .entity-data-section h3 {
	margin-top: 0;
}

.business-process-submitted-selected-document .entity-data-section-side {
	margin-top: 44px;
}

.business-process-submitted-selected-document .entity-data-section-side h3 {
	margin-top: 0;
}
