.business-process-submitted-box {
	margin: 22px -20px;
	padding: 21px 20px;
	background: var(--light-background);
	border-top: 1px solid var(--light-text);
	border-bottom: 1px solid var(--light-text);
}

.business-process-submitted-box-header {
	display: flex;
	justify-content: space-between;
}

.business-process-submitted-box-controls {
	vertical-align: middle;
	line-height: 33px;
}

.business-process-submitted-box-controls a {
	vertical-align: text-bottom;
}

.business-process-submitted-box .form-elements > li {
	display: inline-block;
	padding: 0 8px;
	vertical-align: middle;
}

.business-process-submitted-selected-document {
	display: block;
}

.business-process-submitted-selected-document .submitted-preview-document {
	width:49%;
	margin-right: 2%;
	display: inline-block;
}

.business-process-submitted-selected-document .submitted-preview-document-history {
	width:49%;
	display: inline-block;
}

.business-process-submitted-box .business-process-submitted-list {
	display: block;
	width: 100%;
}

.section-primary-sub.all-documents-table {
	max-height: 242px;
	overflow: hidden;
	overflow-y: scroll;
	border: 1px solid var(--light-medium-background);
}
