.button-regular {
	background-color: var(--normal-background);
	border-radius: 2px;
	color: var(--white-text);
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	padding: 4px 10px;
	line-height: 22px;
	transition: all .3s ease-out;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.16),0 2px 6px 0 rgba(0,0,0,0.12);
}
.button-regular:hover,
.button-regular:focus,
.button-regular:active {
	color: var(--white-text);
	background-color: var(--normal-dark-background);
	box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}
