.button-main,
input[type='submit'].button-main,
button[type='submit'].button-main {
	background-color: var(--normal-background);
	border-radius: 6px;
	color: var(--white-text);
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 0;
	margin-right: 10px;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	padding: 11px 15px;
}
.button-main:hover,
input[type='submit'].button-main:hover,
button[type='submit'].button-main:hover,
.button-main:focus,
input[type='submit'].button-main:focus,
button[type='submit'].button-main:focus,
.button-main:active,
input[type='submit'].button-main:active,
button[type='submit'].button-main:active {
	background-color: var(--normal-dark-background);
	color: var(--white-text);
}

.button-main .fa {
	position: relative;
	top: 3px;
	right: 3px;
}

.button-main.button-main-success,
input[type='submit'].button-main.button-main-success,
button[type='submit'].button-main.button-main-success {
	background-color: var(--success-background);
}
.button-main.button-main-success:hover,
input[type='submit'].button-main.button-main-success:hover,
button[type='submit'].button-main.button-main-success:hover,
.button-main.button-main-success:focus,
input[type='submit'].button-main.button-main-success:focus,
button[type='submit'].button-main.button-main-success:focus,
.button-main.button-main-success:active,
input[type='submit'].button-main.button-main-success:active,
button[type='submit'].button-main.button-main-success:active {
	background-color: var(--success-dark-background);
}

.button-main-error,
input[type='submit'].button-main-error,
button[type='submit'].button-main-error {
	background-color: var(--error-background);
}
.button-main-error:hover,
input[type='submit'].button-main-error:hover,
button[type='submit'].button-main-error:hover,
.button-main-error:focus,
input[type='submit'].button-main-error:focus,
button[type='submit'].button-main-error:focus
.button-main-error:active,
input[type='submit'].button-main-error:active,
button[type='submit'].button-main-error:active {
	background-color: var(--error-dark-background);
}
