.button-main {
	background-color: var(--normal-background);
	border-radius: 6px;
	color: var(--white-text);
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 0;
	margin-right: 10px;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	padding: 11px 15px;
}
.button-main:hover,
.button-main:focus,
.button-main:active {
	background-color: var(--normal-dark-background);
	color: var(--white-text);
}
@media only screen and (max-width: var(--mobile-width)) {
	.button-main {
		width: 100%;
	}
}
