.button-scroll-top {
	text-align: right;
}

.button-scroll-top a {
	background: var(--normal-background);
	border-radius: 3px;
	color: var(--white-text);
	display: inline-block;
	padding: 0 5px;
	text-decoration: none;
}
.button-scroll-top a:hover,
.button-scroll-top a:focus,
.button-scroll-top a:active {
	background: var(--normal-dark-background);
}
