.capital-first {
	display: flex;
}

.capital-first > div > h1 {
	text-transform: uppercase;
	font-weight: 400;
	color: var(--dark-text);
	font-size:32px;

}

.capital-first > div:first-child {
	text-shadow: none;
	font-size: 80px;
	line-height: 66px;
	vertical-align: top;
	margin-right: 5px;
	min-width: 55px;
	font-weight: 300;
}

.capital-first > div > p {
	font-size: 16px;
	font-weight: normal;
	text-transform: none;
}
