.controls a {
	background-color: var(--normal-background);
	border-radius: 3px;
	color: var(--white-text);
	cursor: pointer;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
	padding: 3px 7px 4px;
	text-align: center;
	text-decoration: none;
	vertical-align: text-bottom;
	white-space: nowrap;
}
.controls a:hover,
.controls a:focus,
.controls a:active {
	background-color: var(--normal-dark-background);
}
