.container-with-nav {
	display: flex;
	justify-content: space-between;
	line-height: 44px;
}

.container-with-nav .fa {
	font-size: 14px;
}
h1.container-with-nav .fa,
h2.container-with-nav .fa {
	padding-top: 10px;
}
.container-with-nav a {
	margin: 0 2px;
}

.container-with-nav a:last-child {
	margin-right: 0;
}

.container-with-nav a span {
	position: relative;
	top: 2px;
	right: 2px;
}
.container-with-nav div {
	min-width: 30%;
}

@media only screen and (max-width: var(--mobile-width)) {
	.container-with-nav {
		flex-wrap: wrap;
	}
	.container-with-nav a:first-child {
		margin-left: 0;
	}
	.container-with-nav > * {
		margin-bottom: 22px;
	}
	.container-with-nav > :last-child {
		margin-bottom: 0;
	}
}
