.container-with-nav {
	display: flex;
	justify-content: space-between;
	line-height: 44px;
}
.container-with-nav > h3 {
	line-height: 22px;
	padding: 11px 0;
}
.container-with-nav > a .fa {
	font-size: 20px;
}
h1.container-with-nav .fa,
h2.container-with-nav .fa {
	padding-top: 10px;
}

.container-with-nav > div:last-child {
	margin-bottom: -22px;
}
.container-with-nav > div > * {
	margin: 0 2px 22px;
}
.container-with-nav > div > a:last-child {
	margin-right: 0;
}
.container-with-nav > div > a span {
	position: relative;
	top: 2px;
	right: 2px;
}
.container-with-nav > div {
	min-width: 30%;
}

@media only screen and (max-width: var(--mobile-width)) {
	.container-with-nav {
		flex-wrap: wrap;
	}
	.container-with-nav a {
		margin-left: 0;
	}
	.container-with-nav > * {
		margin-bottom: 22px;
	}
	.container-with-nav > :last-child {
		margin-bottom: 0;
	}
}
