.container-with-nav {
	display: flex;
	justify-content: space-between;
}

.container-with-nav .fa {
	font-size: 14px;
}
h1.container-with-nav .fa,
h2.container-with-nav .fa {
	padding-top: 10px;
}

.container-with-nav .button {
	font-size: 14px;
	font-weight: normal;
	background: var(--light-background);
	border-radius: 3px;
	border: 1px solid var(--light-inner-border);
	padding: 5px 8px;
	cursor: pointer;
	text-decoration: none;
}
.container-with-nav .button:hover,
.container-with-nav .button:focus,
.container-with-nav .button:active {
	background: var(--normal-background);
	text-decoration: none;
	color: var(--white-text);
}

.container-with-nav .button .fa {
	padding-top: 5px;
}

.container-with-nav a:last-child {
	margin-left: 10px;
}

.container-with-nav a span {
	position: relative;
	top: 2px;
	right: 2px;
}
.container-with-nav div {
	min-width: 30%;
}
