.dashboard-card-list {
	display: flex;
	flex-wrap: wrap;
	margin-top: -11px;
	margin-left: -11px;
	margin-right: -11px;
}
.dashboard-card-list > * {
	margin: 11px;
}
.dashboard-card {
	background: white;
	border-radius: 5px;
	padding: 11px;
	width: 246px;
	text-align: center;
}
.dashboard-card-value {
	font-size: 30px;
	padding: 11px 0;
}
.dashboard-card-label {
	font-size: 18px;
	padding: 11px 0;
}
