/*
Component describing styles for login modal windows - rules specific only for this modal
*/
.dialog-login input[type="email"],
.dialog-login input[type="password"],
.dialog-login footer p,
.dialog-login form p:last-child  {
	width: 320px;
}

.dialog-login .dbjs-input-component > label {
	width: 100%;
	margin: 0;
	padding: 0;
}
