/*
Component describing styles for registration modal windows - rules specific only for this modal
*/

.dialog-register section form fieldset {
	border: none;
}

.dialog-register input[type="text"],
.dialog-register input[type="email"],
.dialog-register input[type="password"],
.dialog-register li {
	width: 320px;
}

.dialog-register .dbjs-input-component > label {
	width: 100%;
	margin: 0;
	padding: 0;
}
