/*
Component describing styles for generic modal windows - reusable
*/

.dialog-modal-on div.modal-courtain {
	background: black;
	bottom: 0;
	left: 0;
	opacity: 0.5;
	position: fixed;
	right: 0;
	top: 0;
	visibility: visible;
	z-index: 999;
}

div.modal-courtain {
	visibility: hidden;
}

dialog {
	left: 50%;
	position: absolute;
	transform: translate(-50%);
	right: inherit;
	border: none;
	display: none;
	width: auto;
	z-index: 1000002;
	margin: 0 auto;
}

dialog header h3 {
	color: white;
	padding-left: 20px;
	padding: 11px;
}
.dialog-visible, dialog.active, dialog[open] {
	display: inline-block;
}

dialog:target {
	display: inline-block;
}

.dialog-hidden, dialog.inactive {
	display: none;
}

dialog header {
	background-color: var(--dark-background);
	border-radius: 4px 4px 0 0;
	color: var(--white-text);
}
dialog > .dialog-body > *,
dialog > .dialog-body > form > * {
	margin-bottom: 22px;
}
dialog > .dialog-body > *:last-child,
dialog > .dialog-body > form > *:last-child {
	margin-bottom: 0;
}
dialog {
	background: #ffffff;
	border-radius: 4px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

dialog .dialog-body {
	padding: 11px 20px 11px;
}

dialog footer {
	border-top: 1px solid var(--light-inner-border);
	padding: 0 20px;
	overflow: hidden;
}

dialog footer p {
	margin: 10px auto 11px;
	padding-left: 0;
	padding-right: 0;
	white-space: nowrap;
}

@media only screen and (max-width: var(--mobile-width)) {
	dialog {
		left:0;
		right:0;
		transform:none;
	}
}
