.dialog-reject header {
	background-color: var(--error-background);
}

.dialog-reject textarea {
	width: 500px;
	height: 130px;
}

.dialog-reject footer p {
	text-align: right;
}

.dialog-reject footer p > * {
	margin-left: 8px;
}

.dialog-reject footer p > *:first-child {
	margin-left: 0;
}

@media only screen and (max-width: var(--mobile-width)) {
	.dialog-reject textarea {
		width: 100%;
		height: 130px;
	}
}
