.disabler-range.disabler-active {
	position: relative;
}
.disabler {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	cursor: not-allowed;
	opacity: 0.1;
	background: var(--white-background);
	z-index: 2;
}
.disabler-range.disabler-active .disabler {
	display: block;
}
