.disabler-range {
	position: relative;
}
.disabler {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	cursor: not-allowed;
}
.disabler-range.disabled .disabler {
	display: block;
}
