.documents-list-table {
	max-height: 242px;
	overflow: hidden;
	overflow-y: scroll;
	border: 1px solid var(--light-medium-background);
}

.documents-list-table .submitted-user-data-table {
	width:99.99%;
}
