.documents-list-table {
	max-height: 242px;
	overflow: hidden;
	overflow-y: scroll;
	border: 1px solid var(--light-medium-background);
}

.documents-list-table .submitted-user-data-table {
	width:99.99%; /* Hack to help make the right border of responsive table visible */
}

.documents-list-table .submitted-user-data-table tr:hover td {
	background-color: var(--light-medium-background);
}

.documents-list-table .submitted-user-data-table .active:hover td {
	background-color: inherit;
}

.documents-list-table .submitted-user-data-table .active:hover a {
	cursor: default;
}

.documents-list-table .submitted-user-data-table td {
	padding: 0;
}

.documents-list-table .submitted-user-data-table a {
	padding: 11px 10px 10px;
	text-decoration: none;
}

.documents-list-table .submitted-user-data-table tbody .active a {
	padding: 10px 10px 10px;
}

.documents-list-table .submitted-user-data-table a:hover,
.documents-list-table .submitted-user-data-table a:active,
.documents-list-table .submitted-user-data-table a:focus {
	text-decoration: none;
}

@media only screen and (max-width: var(--mobile-width)) {
	.documents-list-table {
		max-height: none;
	}
}
