.documents-list-table {
	max-height: 242px;
	overflow: hidden;
	overflow-y: scroll;
	border: 1px solid var(--light-medium-background);
}

.documents-list-table .submitted-user-data-table {
	width:99.99%; /* Hack to help make the right border of responsive table visible */
}

@media only screen and (max-width: var(--mobile-width)) {
	.documents-list-table {
		max-height: none;
	}
}
