.entity-data-section-side .entity-data-section {
	border-left: 1px solid var(--light-text);
	border-right: 1px solid var(--light-text);
	border-bottom: 1px solid var(--light-text);
}

.entity-data-section-side h3 {
	font-size: 17px;
	margin-bottom: 5px;
	color: var(--white-text);
	margin:  22px 0 0 0;
	background-color: var(--normal-background);
	padding: 11px 0 11px 8px;
}

.entity-data-section-side h4 {
	margin:0;
	padding:11px 10px 10px 10px;
	border-bottom: 1px solid var(--light-medium-background);
	font-size: 15px;
	font-weight: 300;
	background: var(--light-medium-background);
}

.entity-data-section-side h5 {
	font-size: 14px;
	padding-left: 10px;
	margin-top: 10px;
	font-weight: 500;
	border-bottom: 1px dashed #E3E3E3;
}

.entity-data-section-side .entity-data-section table tr:nth-child(even) {
	background-color: var(--light-background);
}
