.entity-data-section-side .entity-data-section-entities .entity-data-section,
.entity-data-section-entities .entity-data-section {
	border-left: none;
	border-right: none;
	border-bottom: none;
	outline-width: 0;
}

.entity-data-section h6 {
	font-size: 12px;
	padding-left: 10px;
	margin: 2px 0 -2px;
}

.entity-data-section-entities {
	list-style-type: none;
}

.entity-data-section table {
	margin: 0;
}

.entity-data-section table th {
	font-weight: 300;
}

.entity-data-section table th,
.entity-data-section table td {
	width: 50%;
	padding: 11px 0 11px 10px;
	text-align: left;
}

.entity-data-section-entities .entity-data-section-sub table th,
.entity-data-section-entities .entity-data-section-sub table td,
.entity-data-section-entities .entity-data-section table th,
.entity-data-section-entities .entity-data-section table td {
	font-weight: normal;
	font-size: 12px;
	padding: 0 0 0 10px;
}

.entity-data-section-entities .entity-data-section-sub table th,
.entity-data-section-entities .entity-data-section table th {
	font-weight: 300;
}

.entity-data-section .entity-data-section-empty {
	padding: 11px 0 11px 8px;
	color: var(--hint-text);
	font-style: italic;
}

.entity-data-section-entities li {
	padding-bottom:22px;
}
