/* Object tabel rules */
.entities-overview-table td > a:only-child {
	text-align: center;
	padding: 11px 6px;
	display: block;
	width: 100%;
}
.entities-overview-table thead tr th {
	padding: 11px 6px;
}
.entities-overview-table tfoot tr th {
	border-top: 1px solid var(--normal-background);
	padding: 10px 6px 11px;
}

.entities-overview-table .empty td {
	text-align: center;
	padding: 11px 6px;
}

.new-entity {
	background-color: var(--normal-background);
	border-radius: 6px;
	border: 1px solid transparent;
	color: var(--white-text);
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	padding: 10px 16px;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	margin-right: 10px;
}
.new-entity:hover,
.new-entity:focus,
.new-entity:active {
	background-color: var(--normal-dark-background);
	color: var(--white-text);
}
.new-entity:last-child {
	margin: 0;
}

.entities-overview-table .actions {
	text-align: center;
}
.entities-overview-table .actions a:first-child {
	margin-right: 15%;
}
.entities-overview-table .actions a,
.entities-overview-table .actions button {
	background-color: var(--normal-background);
	border-radius: 3px;
	color: var(--white-text);
	cursor: pointer;
	font-size: 12px;
	line-height: 18px;
	padding: 3px 7px 4px;
	text-align: center;
	text-decoration: none;
	vertical-align: text-bottom;
	white-space: nowrap;
}
.entities-overview-table .actions a:hover,
.entities-overview-table .actions a:focus,
.entities-overview-table .actions a:active,
.entities-overview-table .actions button:hover,
.entities-overview-table .actions button:focus,
.entities-overview-table .actions button:active {
	background-color: var(--normal-dark-background);
}
.entities-overview-table .actions button {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0 7px 1px;
	position: relative;
	top: 2px;
}

.entities-overview-table .actions form {
	display: inline;
}
.entities-overview-table .actions form p {
	display: inline;
}

.entities-overview-table .completed {
	text-align: center;
}

.entities-overview-table .completed .status-complete {
	display: inherit;
	color: var(--success-text);
}
.entities-overview-table .status-incomplete {
	color: var(--error-text);
}
.entities-overview-table .status-complete,
.entities-overview-table .completed .status-incomplete {
	display: none;

}
