/* Object tabel rules */
.entities-overview-table-wrapper > * {
	margin-bottom: 22px;
}

.entities-overview-table tbody tr:nth-child(even) {
	background-color: var(--light-background);
}

.entities-overview-table td > a:only-child {
	padding: 11px 6px;
	display: block;
	width: 100%;
}
.entities-overview-table td a:link {
	cursor: pointer;
}
.entities-overview-table td a {
	cursor: default;
}
.entities-overview-table thead {
	background-color: var(--white-background);
}

.entities-overview-table thead tr th {
	padding: 11px 6px;
}
.entities-overview-table tfoot tr th {
	border-top: 1px solid var(--normal-background);
	padding: 10px 6px 11px;
}

.entities-overview-table-empty thead,
.entities-overview-table-empty tfoot {
	display: none;
}

.entities-overview-table-empty td {
	padding: 11px 6px;
	text-align: center;
}

.entities-overview-table .completed .status-complete,
.entities-overview-table .status-incomplete {
	font-weight: bold;
	display: block;
	text-align: center;
	padding: 0 10px;
}

.entities-overview-table .completed .status-complete {
	color: var(--success-text);
}
.entities-overview-table .status-incomplete {
	color: var(--error-text);
}
.entities-overview-table .status-complete,
.entities-overview-table .completed .status-incomplete {
	display: none;
}

.entities-overview-table th,
.entities-overview-table td,
.entities-overview-table td > a:only-child {
	text-align: left;
}

.entities-overview-table .completed {
	text-align: center;
	width: 50px;
}

.entities-overview-table .actions {
	text-align: center;
	width: 60px;
}

.entities-overview-table .entities-overview-table-shares {
	width: 50px;
}

.entities-overview-table-total th:first-child {
	text-align: right;
}

.entities-overview-table-total .complete {
	background-color: var(--success-background);
}

.entities-overview-table-total .complete th,
.entities-overview-table-total .complete td {
	color: var(--white-text);
}

.entities-overview-info {
	background-color: var(--light-background);
	border: 1px solid  var(--normal-light-background);
	border-radius: 5px;
	padding: 10px 15px;
}
.entities-overview-info > * {
	color: var(--light-normal-text);
}
