/* Object tabel rules */
.entities-overview-table td > a:only-child {
	text-align: center;
	padding: 11px 6px;
	display: block;
	width: 100%;
}
.entities-overview-table td a:link {
	cursor: pointer;
}
.entities-overview-table td a {
	cursor: default;
}
.entities-overview-table thead tr th {
	padding: 11px 6px;
}
.entities-overview-table tfoot tr th {
	border-top: 1px solid var(--normal-background);
	padding: 10px 6px 11px;
}

.entities-overview-table.empty thead,
.entities-overview-table.empty tfoot {
	display: none;
}

.entities-overview-table.empty td {
	padding: 11px 6px;
}

.entities-overview-table .completed .status-complete {
	display: inline;
	color: var(--success-text);
}
.entities-overview-table .status-incomplete {
	color: var(--error-text);
}
.entities-overview-table .status-complete,
.entities-overview-table .completed .status-incomplete {
	display: none;
}
