.entity-header {
	display: flex;
	justify-content: space-between;
	padding-top: 22px;
}
.section-primary .entity-header {
	padding-top: 0;
}

.entity-header h1 {
	margin: 0;
	font-weight: 300;
}

.entity-header-actions li {
	display: inline-block;
}

.entity-header-actions a:last-child {
	margin-right: 0;
}

.entity-header-actions form {
	display: inline-block;
}
.entity-header-actions button {
	padding: 3px 7px;
	cursor: pointer;
	border-radius: 3px;
	line-height: normal;
}

.entity-header-actions a {
	background-color: #999;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	color: #ffffff;
	cursor: pointer;
	margin: 0;
	margin-right: 12px;
	padding: 3px 7px 3px;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
}
.entity-header-actions a:hover,
.entity-header-actions a:focus,
.entity-header-actions a:active,
.entity-header-actions button:hover,
.entity-header-actions button:focus,
.entity-header-actions button:active {
	background-color: var(--normal-dark-background);
}
.entity-header-actions a:last-child {
	margin-right: 20px;
}

.entity-header-actions button span {
	position: relative;
	top: 2px;
	left: 3px;
	margin-left: 2px;
}

.entity-header-actions .button-main {
	font-size: 18px;
	padding: 11px 15px;
}

[type='submit'].entity-header-actions-remove-button {
	background: var(--error-background);
}
[type='submit'].entity-header-actions-remove-button:hover,
[type='submit'].entity-header-actions-remove-button:focus,
[type='submit'].entity-header-actions-remove-button:active {
	background-color: var(--error-dark-background);
}

@media only screen and (max-width: var(--mobile-width)) {
	.entity-header {
		display: block;
		margin-bottom: 22px;
	}
	.entity-header h1 {
		margin-bottom: 22px;
	}
	.entity-header-actions {
		margin-top: 22px;
	}
	.entity-header-actions .button-main {
		width: inherit;
	}
}
