.entity-header {
	display: flex;
	justify-content: space-between;
	padding-top: 22px;
}
.section-primary .entity-header {
	padding-top: 0;
}

.entity-header h1 {
	margin: 0;
}

.entity-header .entity-actions a:last-child {
	margin-right: 0;
}

.entity-actions a {
	background-color: #999;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	color: #ffffff;
	cursor: pointer;
	font-size: 14px;
	line-height: 22px;
	margin: 0;
	margin-right: 12px;
	padding: 2px 7px 3px;
	text-align: center;
	text-decoration: none;
	vertical-align: text-bottom;
	white-space: nowrap;
}
.entity-actions a:hover,
.entity-actions a:focus,
.entity-actions a:active {
	background-color: var(--normal-dark-background);
}
.entity-actions a:last-child {
	margin-right: 20px;
}

.entity-actions a span {
	position: relative;
	top: 2px;
	left: 3px;
	margin-left: 2px;
}

.entity-actions .button-main {
	font-size: 18px;
	padding: 11px 15px;
}

@media only screen and (max-width: var(--mobile-width)) {
	.entity-options {
		flex-wrap:wrap;
		padding-bottom: 22px;
	}
}
