.entity-properties {
	list-style-type: none;
}

.entity-properties li {
	display: flex;
	padding-left: 10%;
}

.entity-properties-name {
	font-weight: bold;
	width: 25%;
	display: block;
}

@media only screen and (max-width: var(--mobile-width)) {
	.entity-properties {
		padding-left: 0;
	}

	.entity-properties li {
		padding-left: 0;
		flex-wrap:wrap;
	}

	.entity-properties li span {
		width: 100%;
	}
}
