.file-thumb {
	display: flex;
	flex-direction: column;
	width: 110px;
}

.file-thumb-actions {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 11px;
	margin-bottom: 11px;
}

.file-thumb-image {
	height: 132px;
	width: 100%;
	border: 1px solid var(--light-inner-border);
	border-radius: 5px;
	padding: 8px;
	text-align: center;
}
.file-thumb-image:hover,
.file-thumb-image:focus,
.file-thumb-image:active {
	box-shadow: 0 1px 6px var(--light-inner-border);
}

.file-thumb-image img {
	max-height: 100%;
	max-width: 100%;
	margin: 0;
	vertical-align: middle;
}

.file-thumb-document-size {
	font-size: 12px;
	margin-right: 3px;
}

.file-thumb-action, .file-thumb-action[type=submit] {
	border-radius: 3px;
	background-color: var(--normal-background);
	color: var(--white-text);
	padding: 0 4px 0;
	border: none;
	margin-right: 3px;
	text-align: center;
}
.file-thumb-action:hover,
.file-thumb-action:focus,
.file-thumb-action:active {
	background-color: var(--normal-dark-background);
	box-shadow: none;
	cursor: pointer;
	color: var(--white-text);
}
.file-thumb-action span {
	position: relative;
	top: 3px;
}
button.file-thumb-action span {
	top: 2px;
}

.file-thumb-action input {
	margin-right: 4px;
}
.auto-submit .file-thumb-action input {
	display: none;
}
