.file-uploader {
	display: inline-block;
}

.file-uploader-items {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
}
.file-uploader-button {
	line-height: 44px;
}
.file-uploader-button label {
	background-color: var(--normal-background);
	border-radius: 4px;
	color: var(--white-text);
	display: inline-block;
	text-decoration: none;
	line-height: 22px;
	padding:  5px 16px;
	cursor: pointer;
}

.file-uploader-button label:hover,
.file-uploader-button label:focus,
.file-uploader-button label:active {
	background-color: var(--normal-dark-background);
	color: var(--white-text);
}

.file-uploader-button label input {
	margin-left: 8px;
}
.auto-submit .file-uploader-button label input {
	display: none;
}
@-moz-document url-prefix() {
	.file-uploader-button label {
		padding:  4px 16px 6px;
	}
}

.file-uploader-items li {
	margin-right: 17px;
}
.file-uploader-items .empty { margin-right: 0; }
