.files-upload {
	list-style-type: none;
	display: flex;
	padding-left: 0;
}

.files-upload-button {
	background-color: var(--normal-background);
	border-radius: 6px;
	color: var(--white-text);
	display: inline-block;
	font-size: 18px;
	font-weight: normal;
	line-height: 22px;
	margin-bottom: 0;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
	width: auto;
	height: 44px;
}
.files-upload-button:hover,
.files-upload-button:focus,
.files-upload-button:active {
	background-color: var(--normal-dark-background);
}

.files-upload-button label input {
	display: none;
}

.files-upload-button label {
	display: block;
	width: 100%;
	height: 100%;
	padding: 10px 16px;
	cursor: pointer;
}

.section-primary .files-upload li {
	margin-right: 22px;
	border: none;
	margin-bottom: 0;
	padding-top: 1px;
}

@media only screen and (max-width: var(--mobile-width)) {
	.files-upload {
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.files-upload-button {
		width: 100%;
	}
	.section-primary .files-upload li {
		margin-bottom: 22px;
	}
}
