.file-thumb {
	display: flex;
	flex-direction: column;
	width: 115px;
}

.file-thumb-actions {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-top: 11px;
	margin-bottom: 11px;
}

.file-thumb-image {
	height: 132px;
	width: 100%;
	border: 1px solid var(--light-inner-border);
	border-radius: 5px;
	padding: 8px;
	text-align: center;
	text-decoration: none;
}
.file-thumb-image:hover,
.file-thumb-image:focus,
.file-thumb-image:active {
	box-shadow: 0 1px 6px var(--light-inner-border);
}

.file-thumb-image img {
	max-height: 100%;
	max-width: 100%;
	margin: 0;
	vertical-align: middle;
}

.file-thumb-document-size {
	font-size: 12px;
	margin-right: 3px;
}

.file-thumb-action, .file-thumb-action[type=submit] {
	border-radius: 3px;
	background-color: var(--normal-background);
	color: var(--white-text);
	padding: 0 4px 0;
	border: none;
	margin-left: 3px;
	text-align: center;
}
.file-thumb-action:hover,
.file-thumb-action:focus,
.file-thumb-action:active {
	background-color: var(--normal-dark-background);
	box-shadow: none;
	cursor: pointer;
	color: var(--white-text);
}
.file-thumb-action span {
	position: relative;
	top: 3px;
}
button.file-thumb-action span {
	top: 2px;
}

.file-thumb-action input {
	margin-right: 4px;
}
.auto-submit .file-thumb-action input {
	display: none;
}

.file-thumb-uploading .throbber,
.file-thumb-generating .throbber {
	display: block;
	text-align: center;
}

.file-thumb-upload-status {
	font-size: 10px;
	font-weight: 500;
	display: block;
}

.file-thumb-upload-status .throbber {
	padding: 50% 11px 11px; 
}

.file-thumb-upload-status .spinner-loader:not(:required) {
	box-shadow: rgb(0, 0, 0) 1.5em 0 0 0, rgb(0, 0, 0) 1.1em 1.1em 0 0, rgb(0, 0, 0) 0 1.5em 0 0, rgb(0, 0, 0) -1.1em 1.1em 0 0, rgb(0, 0, 0) -1.5em 0 0 0, rgb(0, 0, 0) -1.1em -1.1em 0 0, rgb(0, 0, 0) 0 -1.5em 0 0, rgb(0, 0, 0) 1.1em -1.1em 0 0;
	display: block;
	font-size: 6px;
	margin: auto;
	position: relative;
}
