/*
	Setting footer with logos as full width container with specific colour background
*/
.footer-logos {
	background-color: var(--dark-background);
	display: flex;
	width: 100%;
	padding-top: 22px;
	padding-bottom: 22px;
}

/*
	Class used for styling footer logos. Boxes are equaliy spreaded insight
	of 1050px row.
*/
.footer-logos-container {
	display: flex;
	justify-content: space-between;
}

/*
	Styles applied while screen size is less than 640px
*/
@media only screen and (max-width: var(--mobile-width)) {
	.footer-logos-container {
		flex-wrap: wrap;
		justify-content: center;
		min-width: var(--min-mobile-width);
	}
}
