/*
 Setting footer with logos as full width container with specific colour background
*/
.footer-logos {
	background-color: #333;
	display: flex;
	width: 100%;
}

/*
 Class used for styling footer logos. Boxes are equaliy spreaded insight
 of 1050px row.
*/
.footer-logos div {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1050px;
}

/*
Styles applied while screen sieze is less than 640px
*/
@media only screen and (max-width: 640px) {
	.footer-logos div {
		flex-wrap: wrap;
	}
}