.forms-tab-nav ul{
	display: table;
	width: 100%;
	border-radius: 4px;
	overflow: hidden;
}

.forms-tab-nav-tab {
	display: table-cell;
	text-align: center;
	overflow: hidden;
	line-height: 44px;
	background-color: var(--dark-background);
	cursor: pointer;
}

.forms-tab-nav-tab a {
	color: var(--white-text);
	text-decoration: none;
	line-height: 22px;
}

.forms-tab-nav-tab-active,
.forms-tab-nav-tab:hover,
.forms-tab-nav-tab:focus,
.forms-tab-nav-tab:active {
	background-color: var(--normal-dark-background);
}

.forms-tab-nav-tab-active a,
.forms-tab-nav-tab:hover a,
.forms-tab-nav-tab:focus a,
.forms-tab-nav-tab:active a {
	color: var(--light-text);
}
