.form-section-update {
	background: var(--light-background);
	margin-left: -20px;
	margin-right: -20px;
	padding-top: 22px;
	padding-bottom: 22px;
}

.form-section-update h3 {
	font-weight: 400;
	border-bottom: 1px dashed var(--normal-light-green-background);
	padding: 5px;
	margin-bottom: 11px;
	font-size: 16px;
	text-align: right;
	padding-right: 60%;
}

.form-section-update .entity-data-section-sub {
	margin-bottom: 22px;
}

.form-section-update .entity-data-section-sub:last-child {
	margin-bottom: 0;
}

.form-section-update h4 {
	padding: 5px;
	text-align: right;
	padding-right: 60%;
}

.form-section-update table th {
	width: 40%;
	text-align: right;
}

.form-section-update table td {
	width: 60%;
	text-align: left;
}

.form-section-update-question {
	background: var(--dark-background);
	border-radius: 3px;
	color: #FFF;
}
