.free-form > :last-child {
	margin-bottom: 0;
}
.free-form > * {
	margin-bottom: 22px;
}

.free-form ul,
.free-form ol {
	padding-left: 22px;
}

.free-form ul {
	list-style-type: disc;
}

.free-form ol {
	list-style-type: decimal;
}

.free-form  ul ul,
.free-form ol ul {
	list-style-type: circle;
}
.free-form ol ol,
.free-form ul ol {
	list-style-type: lower-latin;
}

.free-form > p + ul,
.free-form > p + ol {
	margin-top: -22px;
}
