.front-desk-validation> li,
.front-desk-validation-document > li {
		margin-bottom: 22px;
}

.front-desk-validation > li {
	display: inline-block;
	width: 47%;
	margin-right: 3%;
	margin-left: 0;
}

.front-desk-validation > li:nth-child(even) {
	margin-left: 3%;
	margin-right: 0;
}

.front-desk-validation > li:nth-last-child(2),
.front-desk-validation > li:last-child,
.front-desk-validation-document > li:last-child {
	margin-bottom: 0;
}

.print-certificate-button {
	background-color: var(--white-background);
	border-radius: 4px;
	color: var(--normal-text);
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	line-height: 22px;
	padding: 5px 16px;
	margin-left: 20px;
	border: 1px solid var(--normal-dark-background);
}
.print-certificate-button:hover,
.print-certificate-button:focus,
.print-certificate-button:active {
	background-color: var(--light-background)
}

.print-certificate-button:first-child {
	margin-left: 0;
}
