.heading-tools {
	display: flex;
	justify-content: space-between;
}

.heading-tools a {
	font-size: 14px;
	font-weight: normal;
	background: var(--light-background);
	border-radius: 3px;
	border: 1px solid var(--light-inner-border);
	padding: 5px 8px;
	cursor: pointer;
}
.heading-tools a:hover,
.heading-tools a:focus,
.heading-tools a:active {
	background: var(--normal-background);
}
.heading-tools a:last-child {
	margin-left: 10px;
}

.heading-tools a span {
	position: relative;
	top: 2px;
	right: 2px;
}
