/*
	Component describing styles for top header
*/

/*
	Class descirbing how main header splits space between its elements. Elemetns are
	spreaded equaliy in 1050px space. Used i.e. with logo and simple menu
*/
.header-top {
	background: var(--white-background);
}

.header-top-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 0;
}

.header-top-wrapper > * {
	padding: 11px 0;
}

.header-top-logo img {
	max-width: 100%;
}

.header-top-wrapper div {
	max-height: 88px;
}

/*
Flexible basic menu - used on home page and can be reused elsewhere
*/
.header-top-menu {
	display: flex;
	align-items: flex-end;
	list-style: none;
	padding-left: 15px;
}

/*
	Flexible basic menu link
*/
.header-top-menu a {
	color: var(--normal-text);
	font-size: 14px;
	padding-right: 8px;
	padding-left: 8px;
	cursor: pointer;
	display: block;
}
.header-top-menu a:hover,
.header-top-menu a:focus,
.header-top-menu a:active {
	color: var(--dark-text);
}

.header-top-menu .header-top-login {
	background-color: var(--normal-background);
	border-radius: 3px;
	color: var(--white-text);
	cursor: pointer;
	font-size: 12px;
	margin: 0 0 0 5px;
	text-align: center;
	text-decoration: none;
	line-height: 18px;
	padding: 2px 7px 2px;
	vertical-align: middle;
	white-space: nowrap;
}
.header-top-login-hint {
	margin-left: 5px;
	font-size: 10px;
	display:block;
}

.header-top-login-inactive {
	display: none;
}

.header-top-menu .header-top-login:hover,
.header-top-menu .header-top-login:focus,
.header-top-menu .header-top-login:active {
	background-color: var(--normal-dark-background);
	color: var(--white-text);
}
/*
Flexible basic menu button positioning
*/
.header-top-menu button {
	margin: 0;
}

.header-top-menu .fa {
	margin-top: 1px;
	font-size: 19px;
}
.header-top-user-name {
	font-size: 17px;
}

.header-top-menu a span {
	vertical-align: middle;
	line-height: 22px;
}

/*
Styles applied while screen size is less than 640px
*/
@media only screen and (max-width: var(--mobile-width)) {
	.header-top-wrapper {
		flex-wrap: wrap;
		min-width: var(--min-mobile-width);
	}
	.header-top-wrapper div,
	.header-top-wrapper nav {
		text-align: center;
	}
	.header-top-wrapper div {
		margin: 0 auto;
	}

	.header-top-wrapper nav {
		margin:  11px auto 11px;
	}
	.header-top-menu {
		padding-left: 0;
	}
}
