.incorporation-form .incorporation-number-submit {
	margin-left: 20px;
}
.incorporation-documents-upload button {
	margin-right: 20px;
}
.incorporation-form .incorporation-rejection {
	background: var(--error-background);
}