.info-main {
	background-color: var(--white-background);
	border-radius: 5px;
	border: 1px solid var(--light-inner-border);
	padding: 21px 15px 21px 15px;
}

.info-main > * {
	margin-bottom: 22px;
}
.info-main > :last-child {
	margin-bottom: 0;
}
