.info-main {
	background: var(--normal-light-background);
	border-radius: 5px;
	border: 1px solid var(--light-inner-border);
	padding: 10px 15px 10px 15px;
	padding: 21px 15px 21px 15px;
}

.info-main > * {
	margin-bottom: 11px;
}
.info-main > :last-child {
	margin-bottom: 0;
}

.info-main-rejection > li > h4 {
	font-weight: 300;
	text-decoration: underline;
}

.info-main-rejection-lists > li > h4 {
	display: inline-block;
}

.info-main-rejection-lists > li > h4::after {
	content: ':';
}

.info-main-rejection-lists > li > span {
	display: inline-block;
	padding-left: 8px;
}

.info-main-rejection-list-reasons {
	display: inline-block;
	list-style-type: none;
	padding: 0;
}

.info-main-rejection-list-reasons > li {
	padding-left: 8px;
}

.info-main-rejection-list-reasons > li:first-child::after {
	content: ',';
}
