.label-reg {
	background: var(--normal-background);
	border-radius: 5px;
	color: var(--white-text);
	font-weight: bold;
	display: inline-block;
	margin: -1px 4px -2px 0;
	padding: 0 4px;
	font-size: 12px;
	text-transform: uppercase;
	line-height: 20px;
}
