.label-reg {
	background: var(--normal-background);
	border-radius: 5px;
	color: var(--white-text);
	font-weight: bold;
	display: inline-block;
	margin: 0 4px 0 0;
	padding: 0 4px;
	font-size: 12px;
	text-transform: uppercase;
	height: 20px;
	vertical-align: top;
}

.label-reg.ready {
	background: var(--processed-text);
}

.label-reg.rejected {
	background: var(--error-text);
}

.label-reg.approved {
	background: var(--success-text);
}

@media only screen and (max-width: var(--mobile-width)) {
	.label-reg {
		margin-top: 2px;
	}
}
