.labelled-inputs-component,
.labelled-inputs-component-wrapper {
	display: inline-block;
}
.labelled-inputs-component-wrapper > span {
	margin-left: 10px;
	margin-right: 10px;
}

.labelled-inputs-component label:first-child {
	display: block;
	font-weight: bold;
}
.labelled-inputs-component span:last-child {
	line-height: 22px;
}
