.label-reg {
	background: var(--normal-background);
	border-radius: 3px;
	color: var(--white-text);
	display: inline-block;
	margin: 0 3px 0 0;
	padding: 0 3px;
	font-size: 12px;
	text-transform: uppercase;
	height: 22px;
	line-height: 22px;
	white-space: nowrap;
	font-weight: 300;
}

.label-reg:after {
	text-transform: none;
}

.label-reg.ready {
	background: var(--progress-background);
}

.label-reg.rejected {
	background: var(--error-background);
}

.label-reg.approved {
	background: var(--success-background);
}

.label-reg.info {
	background: var(--info-background);
}

@media only screen and (max-width: var(--mobile-width)) {
	.label-reg {
		margin-top: 2px;
	}
}
