/* Conditions tab */

.lomas-conditions-list > li {
	border: 1px solid var(--normal-background);
	border-radius: 5px;
	margin-bottom: 22px;
}
.lomas-conditions-list > li:last-child {
	margin-bottom: 0;
}
.lomas-conditions-list > li > h3 {
	padding: 11px;
}
.lomas-conditions-list table {
	border-top: 1px solid var(--normal-background);
	padding: 11px;

}
.lomas-conditions-list td {
	padding: 11px 10px;
	vertical-align: top;
	text-align: left;
}
.lomas-conditions-list td:first-child {
	padding-left: 20px;
}
.lomas-conditions-list td:last-child {
	padding-right: 20px;
}

.lomas-conditions-list .lomas-conditions-status {
	text-align: center;
	width: 45px;
}

.lomas-conditions-list td a {
	color: var(--hint-text);
}
.lomas-conditions-ordinance-list {
	width: 195px;
}
