.manager-bar {
	background-color: var(--normal-light-background);
	background-position: center center;
	background-size: cover;
}

.manager-bar > .content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.manager-bar-info {
	line-height: 44px;
}

.manager-bar-actions {
	line-height: 44px;
}

.manager-bar-actions > * {
	display: inline-block;
	margin-left: 4px;
}

.manager-bar-info > * {
	display: inline-block;
	margin-left: 4px;
}

.manager-bar-info .button-regular {
	color: var(--white-text);
	background-color: var(--normal-dark-background);
}

.manager-bar-info a,
.manager-bar-info button,
.manager-bar-info input[type="submit"],
.manager-bar-info button[type="submit"] {
	background: none;
	text-decoration: underline;
	color:var(--normal-text);
	font-size: 14px;
	padding: 4px 10px;
}

.manager-bar-info a:hover,
.manager-bar-info a:active,
.manager-bar-info a:focus,
.manager-bar-info button:hover,
.manager-bar-info button:active,
.manager-bar-info button:focus,
.manager-bar-info input[type="submit"]:hover,
.manager-bar-info input[type="submit"]:active,
.manager-bar-info input[type="submit"]:focus,
.manager-bar-info button[type="submit"]:hover,
.manager-bar-info button[type="submit"]:active,
.manager-bar-info button[type="submit"]:focus {
	background: none;
	text-decoration: underline;
	color:var(--dark-text);
	font-size: 14px;
	padding: 4px 10px;
}

.manager-bar .actions-create {
	border-radius: 4px;
	color: var(--white-text);
	background-color: var(--normal-background);
	text-decoration: none;
	padding: 4px 10px;
	line-height: 22px;
}

.manager-bar .actions-create:active,
.manager-bar .actions-create:focus,
.manager-bar .actions-create:hover {
	background-color: var(--normal-dark-background);
}
