/*
Component describing styles for registration modal windows - rules specific only for this modal
*/
.modal-register section form fieldset {
	border: none;
}

.modal-register input[type="text"],
.modal-register input[type="email"],
.modal-register input[type="password"],
.modal-register li {
	width: 320px;
}

.modal-register section div {
	padding-top: 11px;
}

.modal-register form > * {
	margin-bottom: 22px;
}

.modal-register footer a {
	white-space: nowrap;
}
