/*
Component describing styles for login modal windows - rules specific only for this modal
*/

.modal-login footer p {
	width: 320px;
}

.modal-login input[type="email"],
.modal-login input[type="password"] {
	width: 320px;
}

.modal-login form p:last-child {
	margin-bottom: 0;
	width: 320px;
}

