/*
Component describing styles for login modal windows - rules specific only for this modal
*/
.modal-login.modal {
	top: 287px;
	width: 40%;
}

.modal-login section form {
	margin-left: auto;
	margin-right: auto;
}

.modal-login form p:last-child {
	margin-bottom: 0;
}
