.modal.create-account {
	max-width: 500px;
}

.modal.create-account header h3 {
	color: white;
	padding-left: 20px;
	padding: 11px;
}

.modal.create-account section form fieldset {
	border: none;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}