/*
Component describing styles for generic modal windows - reusable
*/

.modal-on div.modal-courtain {
	background: black;
	bottom: 0;
	left: 0;
	opacity: 0.5;
	position: fixed;
	right: 0;
	top: 0;
	visibility: visible;
	z-index: 999;
}

div.modal-courtain {
	visibility: hidden;
}

.modal {
	left: 50%;
	margin: 22px auto;
	position: absolute;
	transform: translate(-50%);
	right: inherit;
	border: none;
}

.modal header h3 {
	color: white;
	padding-left: 20px;
	padding: 11px;
}

.modal.hidden {
	display: none;
	opacity:0;
}

.modal.visible {
	display: inline-block;
	width: auto;
	opacity:1;
	z-index: 1000;
	margin: 0 auto;
}

.modal header {
	background-color: var(--normal-background);
	border-radius: 10px 10px 0 0;
}
.modal > .modal-body > *,
.modal > .modal-body > form > * {
	margin-bottom: 22px;
}
.modal > .modal-body > *:last-child,
.modal > .modal-body > form > *:last-child {
	margin-bottom: 0;
}
.modal {
	background: #ffffff;
	border-radius: 12px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal .modal-body {
	padding: 11px 20px 11px;
}

.modal footer {
	border-top: 1px solid var(--light-inner-border);
	padding: 0 20px;
	overflow: hidden;
}

.modal footer p {
	margin: 10px auto 11px;
	padding-left: 0;
	padding-right: 0;
	white-space: nowrap;
}
