.modal-reset-password section form {
	margin-left: auto;
	margin-right: auto;
}

.modal-reset-password input[type="email"] {
	width: 320px;
}
@media only screen and (max-width: var(--mobile-width)) {
	..modal-reset-password.modal {
		top: 20%;
	}
}
