.official-users-table {
	margin: 22px 0;
}

.official-users-table thead {
	background-color: var(--normal-background);
}
.official-users-table thead th {
	color: var(--white-text);
}

.official-users-table tbody tr {
	background-color: var(--white-text);
}

.official-users-table tbody tr td {
	border: 1px solid var(--light-inner-border);
	padding: 0;
	font-size: 16px;
}
.official-users-table tbody tr td a {
	display: block;
	width: 100%;
	position: relative;
	padding: 11px 25px 32px;
	line-height: 22px;
}
.official-users-table tbody tr td.user-basic-data a {
		padding: 11px 25px 10px;
		font-weight: bold;
}
.official-users-table tbody tr td a:hover,
.official-users-table tbody tr td a:active,
.official-users-table tbody tr td a:focus {
	background: var(--normal-dark-background);
	color: var(--white-background);
}
.official-users-table tbody tr td.user-basic-data a span {
	display: block;
	width: 100%;
	font-weight: normal;
}

.official-users-table tbody tr td.actions a {
	display: inline;
	padding: 5px;
	margin-left: 15%;
}
.official-users-table tbody tr td.actions a:first-child {
	margin: 0;
}

.official-users-table th {
	border: 1px solid var(--light-inner-border);
}

.official-users-table tbody tr:nth-of-type(even) {
	background-color: var(--light-background);
}

.official-users-table ul {
	list-style-type: none;
	margin-bottom: 0;
	margin: -6px 0;
}
