.official-users-table {
	margin-top: 22px;
}

.official-users-table thead {
	background-color: var(--normal-background);
}
.official-users-table thead th {
	color: var(--white-text);
}

.official-users-table tbody tr {
	background-color: var(--white-text);
}

.official-users-table tbody tr td {
	border: 1px solid var(--light-inner-border);
}

.official-users-table th {
	border: 1px solid var(--light-inner-border);
}

.official-users-table tbody tr:nth-of-type(even) {
	background-color: var(--light-background);
}

.official-users-table ul {
	list-style-type: none;
	margin-bottom: 0;
	margin: -6px 0;
}
