.official-users-table {
	margin: 22px 0;
	font-size: 16px;
}

.official-users-table thead {
	background-color: var(--normal-background);
}
.official-users-table thead th {
	color: var(--white-text);
	padding: 11px 25px 10px;
}

.official-users-table tbody tr {
	background-color: var(--white-text);
}

.official-users-table tbody tr td {
	border: 1px solid var(--light-inner-border);
	padding: 0;
}
.official-users-table tbody tr td {
		padding: 11px 25px 10px;
		vertical-align: top;
		line-height: 22px;
	}
	.official-users-table tbody tr .actions {
		padding: 10px 25px 9px;
	}
.official-users-table tbody tr td a {
	display: block;
	width: 100%;
	position: relative;
	line-height: 22px;
}
.official-users-table tbody tr td.user-basic-data a {
		font-weight: bold;
}
.official-users-table tbody tr td a:hover,
.official-users-table tbody tr td a:active,
.official-users-table tbody tr td a:focus {
	text-decoration: underline;
}
.official-users-table tbody tr td.user-basic-data a span {
	display: block;
	width: 100%;
	font-weight: normal;
}

.official-users-table tbody tr td.actions a {
	font-size: 16px;
	display: inline;
	padding: 5px;
	margin-left: 15%;
}
.official-users-table tbody tr td.actions a:first-child {
	margin: 0;
}

.official-users-table th {
	border: 1px solid var(--light-inner-border);
}

.official-users-table tbody tr:nth-of-type(even) {
	background-color: var(--light-background);
}

.official-users-table ul {
	list-style-type: none;
	margin-bottom: 0;
	margin: -6px 0;
}

@media only screen and (max-width: var(--mobile-width)) {

	.official-users-table.table-responsive tr {
		border: 1px solid var(--light-inner-border);
		height: auto;
		}

	.official-users-table.table-responsive td {
		border-bottom: 1px solid var(--light-inner-border);
		position: relative;
		}

	.official-users-table.table-responsive td {
		display: flex;
		justify-content: space-around;
		padding: 0;
		}

	.official-users-table.table-responsive th {
		display: none;
	}
	.official-users-table.table-responsive tbody tr td {
		padding: 0;
	}
}
