.official-submission-toolbar-wrapper,
.official-submission-toolbar form {
	display: inline-block;
}

@media only screen and (max-width: var(--mobile-width)) {
	.official-submission-toolbar > * {
		margin-bottom: 22px;
	}
	.official-submission-toolbar > *:last-child {
		margin-bottom: 0;
	}
}
