.official-form .official-rejection {
	background: var(--error-background);
}

.official-form-upload {
	display: inline-flex;
}

.official-form-upload button {
	margin-right: 20px;
}

.official-form-upload .file-section {
	margin-left: 20px;
}

.official-form-upload .file-section:first-child {
	margin-left: 0;
}

@media only screen and (max-width: var(--mobile-width)) {
	.official-form-upload {
		flex-wrap: wrap;
	}
	.official-form-upload .file-section {
		width: 100%;
		margin-left: 0;
		margin-bottom: 22px;
	}
	.official-form-upload .file-section:last-child {
		margin-bottom: 0;
	}
}
