.official-form-rejection {
	background: var(--error-background);
}

.official-form-upload ul > li {
	display: inline-block;
	margin-right: 20px;
}

/*.file-section is also used outside of .official-form*/
.official-form-upload .file-uploader {
	margin-left: 20px;
	display: inline-block;
}

.official-form-upload .file-uploader:first-child {
	margin-left: 0;
}

.official-form-document-revision-reject-reason select,
.official-form-document-revision-reject-reason textarea {
	width: 100%;
}

.official-form > .section-primary {
	border: none;
	padding: 0;
}

.official-form > .section-primary .section-primary-scroll-top {
	display: none;
}

.official-form-certificate-preview img {
	width: 100%;
	border: 1px solid var(--light-inner-border);
}

@media only screen and (max-width: var(--mobile-width)) {
	.official-form-upload {
		flex-wrap: wrap;
	}
	.official-form-upload .file-uploader {
		width: 100%;
		margin-left: 0;
		margin-bottom: 22px;
	}
}
