.pagination li {
	display: inline-block;
}

.pagination li > a {
	border: 1px solid var(--light-inner-border);
	padding: 2px 6px 3px;
	background: var(--white-background);
	margin-left: -1px;
	text-decoration: none;
}
.pagination li > a:hover,
.pagination li > a:focus,
.pagination li > a:active {
	background: var(--light-background);
}

.pagination li > .pagination-active,
.pagination li > .pagination-active:hover,
.pagination li > .pagination-active:focus,
.pagination li > .pagination-active:active {
	background: var(--normal-background);
	color: var(--white-background);
}

.pagination li:first-child > a {
	border-radius: 4px 0 0 4px;
}
.pagination li:last-child > a {
	border-radius: 0 4px 4px 0;
}
