.pagination {
	margin-top: -5px;
	margin-bottom: -5px;
}

.pagination li {
	display: inline-block;
	line-height: 30px;
}

.pagination li > a {
	border: 1px solid var(--light-inner-border);
	padding: 0 10px;
	display: block;
	border-left-width: 0;
	text-decoration: none;
	cursor: default;
}

.pagination li > a:link {
	background: var(--white-background);
	cursor: pointer;
}

.pagination li > a:link:hover,
.pagination li > a:link:active {
	background: var(--light-background);
}

.pagination li:first-child > a, .pagination .pagination-left-edge > a {
	border-radius: 4px 0 0 4px;
	border-left-width: 1px;
}
.pagination li:last-child > a, .pagination .pagination-right-edge > a {
	border-radius: 0 4px 4px 0;
}

.pagination form {
	padding: 0 10px;
}
.pagination input{
	margin: 0 3px;
}
