.pills-nav {
	margin-bottom: 0;
}

.pills-nav li {
	display: inline-block;
	margin-bottom: 22px;
}

.pills-nav li:first-child .pills-nav-pill {
	margin-left: 0;
}

.pills-nav li:last-child .pills-nav-pill {
	margin-right: 0;
}

.pills-nav-pill {
	display: block;
	padding: 0 11px;
	margin: 0 11px;
	line-height: 44px;
	border-radius: 5px;
	font-size: 16px;
	text-decoration: none;
}
.pills-nav-pill:hover,
.pills-nav-pill:focus,
.pills-nav-pill:active {
	background: var(--normal-light-background);
}

.pills-nav-active > a,
.pills-nav-active > a:hover,
.pills-nav-active > a:focus,
.pills-nav-active > a:active {
	background: var(--normal-dark-background);
	color:var(--white-text);
}
