.print-user-history tr:nth-child(even) {
	background-color: var(--light-background);
}

.print-user-history th,
.print-user-history td {
	padding: 11px;
	line-height: 22px;
	text-align: left;
}

.print-user-history-time {
	white-space: nowrap;
}
