.public-institutions {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
	margin-bottom: 22px;
}
.public-institutions a {
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 5px;
	display: block;
}
.public-institutions a:hover,
.public-institutions a:focus,
.public-institutions a:active {
	border-color: var(--light-inner-border);
	box-shadow: 0 0 10px -2px var(--dark-background);
}
.public-institutions a img {
	display: block;
}
