.public-institutions {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
	margin-bottom: 22px;
}
.public-institutions li {
	line-height: 86px;
}

.public-institutions a {
	padding: 0 10px;
	border: 1px solid transparent;
	border-radius: 5px;
	display: block;
	transition: all 0.5s ease;
}
.public-institutions a:hover,
.public-institutions a:focus,
.public-institutions a:active {
	border-color: var(--light-inner-border);
	box-shadow: 0 0 10px -2px var(--dark-background);
}
.public-institutions img {
	display: inline-block;
	transition: all 0.5s ease;
	max-width: 140px;
	max-height: 70px;
	filter: grayscale(1);
	vertical-align: middle;
}
.public-institutions a:hover img,
.public-institutions a:focus img,
.public-institutions a:active img {
	filter: grayscale(0);
}
