.public-parts-menu-container {
	background-color: #fff;
	padding: 11px;
}

.public-sub-sub-menu-container .nav-mobile-button {
	color: #fff;
	background-color: var(--normal-dark-background);
}

.public-parts-menu-container .nav-mobile-button:hover,
.public-parts-menu-container .nav-mobile-button:focus,
.public-parts-menu-container .nav-mobile-button:active {
	color: var(--normal-dark-background);
	background-color: var(--light-background);
}

.public-parts-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding: 11px 10px;
	min-height: 66px;
}

.public-parts-menu menuitem {
	display: flex;
}

.public-parts-menu menuitem a {
	padding:11px 10px;
	text-align: center;
	color: var(--normal-dark-background);
	background-color: transparent;
	text-decoration: none;
	line-height: 1;
	height: 66px;
	width: 100%;
	display: block;
	font-size: 14px;
}

.public-parts-menu menuitem a .fa {
	font-size: 22px;
	margin: 0 auto 4px auto;
	display: block;
}

.public-parts-menu menuitem a:hover,
.public-parts-menu menuitem a:focus,
.public-parts-menu menuitem .active {
	border-radius: var(--normal-rounded-border);
	background-color: var(--light-background);
	cursor: pointer;
}

.public-parts-menu-separator:before {
	content: '>';
}

.public-parts-menu-separator {
	padding: 22px;
	color: var(--normal-dark-background);
}

@media only screen and (max-width: var(--mobile-width)) {
	.public-parts-menu {
		flex-wrap: wrap;
		justify-content: space-around;
		flex-direction: column;
		display: none;
	}

	.public-parts-menu menuitem {
		margin: 0;
	}

}
