/*
Component describing styles for public banner - non-reusable
*/

/*
Class describing how home page bunner is displayed as full width cover for i.e
home page.
*/
.public-banner {
	background-image: url('../img/baner.png');
	background-position: center center;
	background-size: cover;
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	min-height: 374px;
	width: 100%;
}

/*
Class describing how boxes for informations insight banner are displayed
*/
.public-banner div.banner-text {
	display: flex;
	justify-content: space-between;
}

.public-banner div.banner-text a.create-account {
	background-color: var(--normal-background);
	background-image: none;
	border-radius: 6px;
	border: 1px solid transparent;
	color: var(--white-text);
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 0;
	padding: 10px 16px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
}

.public-banner div.banner-text a.create-account:hover,
.public-banner div.banner-text a.create-account:focus,
.public-banner div.banner-text a.create-account:active {
	background-color: var(--normal-dark-background);
}

/*
		Class used for sticking img in banner bottom line, having 50% of banner width
*/
.baner-box-img {
	align-self: flex-end;
	min-width: 50%;
}

.baner-box-img img {
	display: block;
	width: 100%;
}

.baner-box-text > * {
	margin-top: 22px;
}

/*
Styles applied while screen sieze is less than 640px
*/
@media only screen and (max-width: var(--mobile-width)) {
		.public-banner .banner-text {
			flex-wrap: wrap;
			min-width: var(--min-mobile-width);
		}
		.public-banner {
			min-height: 462px;
		}
		.baner-box-text {
			margin: 0 auto;
			text-align: center;
		}
}
