/*
	Component describing styles for
*/

.public-steps {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	margin-bottom: 22px;
}

.public-steps li {
	padding: 0 5px;
	width: 100%;
	text-align: center;
}
.public-steps li > * {
	margin-top: 22px;
}
.public-steps-clickable > a {
	text-decoration: none;
}
.public-steps a > * {
	margin-top: 22px;
}
.public-steps-clickable:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.public-steps li:first-child {
	padding-left: 0;
	padding-right: 5px;
}

.public-steps li:last-child {
	padding-left: 5px;
	padding-right: 0;
}

.public-steps img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 95%;
}

.public-steps-button {
	background-color: var(--normal-background);
	border-radius: 3px;
	color: var(--white-text);
	cursor: pointer;
	font-size: 12px;
	padding: 0 7px;
	text-align: center;
	text-decoration: none;
	vertical-align: 1px;
	white-space: nowrap;
	display: inline-block;
}
.public-steps-button:hover,
.public-steps-button:focus,
.public-steps-button:active {
	background-color: var(--normal-dark-background);
	color: var(--white-text);
}

/*
Styles applied while screen size is less than 640px
*/
@media only screen and (max-width: var(--mobile-width)) {

	/*
	Setting flexibity wrap, so boxes are placed one under another.
	*/
	.public-steps {
		flex-wrap: wrap;
		min-width: var(--min-mobile-width);
	}

	.public-steps li {
		width: 100%;
		padding: 0;
	}

	.public-steps li:first-child {
		padding-right: 0;
	}

	.public-steps li:last-child {
		margin-bottom: 0;
		padding-left: 0;
	}
}
