/*
Component describing styles for public error page
*/

.public-error {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	max-width: var(--desktop-width);
	padding: 0 10px;
}

.public-error div {
	background-color: var(--lighter-background);
	border-radius: 5px;
	border: 1px solid var(--light-inner-border);
	margin: 22px 0;
	text-align: center;
}

.public-error div .error-type {
	font-size: 84px;
	line-height: 88px;
}
