/*
	Component describing styles for
*/

.public-steps {
	display: flex;
	justify-content: space-between;
	padding-top: 22px;
	padding-bottom: 22px;
	list-style-type: none;
	margin-bottom: 0;
}

.public-steps li {
	padding: 0 5px;
	max-width: 100%;
	text-align: center;
}

.public-steps li:first-child {
	padding-left: 0;
	padding-right: 5px;
}

.public-steps li:last-child {
	padding-left: 5px;
	padding-right: 0;
}

.public-steps li img {
	margin-bottom: 16px;
	max-width: 95%;
}

.public-steps li .step-button {
	background-color: var(--normal-background);
	border-radius: 3px;
	color: var(--white-text);
	cursor: pointer;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
	padding: 3px 7px 4px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
}
.public-steps li .step-button:hover,
.public-steps li .step-button:focus,
.public-steps li .step-button:active {
	background-color: var(--normal-dark-background);
}

/*
Styles applied while screen sieze is less than 640px
*/
@media only screen and (max-width: var(--mobile-width)) {

	/*
	Setting flexibity wrap, so boxes are placed one under another.
	*/
	.public-steps {
		flex-wrap: wrap;
		min-width: var(--min-mobile-width);
	}

	.public-steps li {
		margin-bottom: 22px;
		width: 100%;
		padding: 0;
	}

	.public-steps li:first-child {
		padding-right: 0;
	}

	.public-steps li:last-child {
		margin-bottom: 0;
		padding-left: 0;
	}
}
