.public-article img {
	border-radius: var(--normal-rounded-border);
	border: 1px solid var(--light-inner-border);
}

.info-block {
	background-color: var(--light-background);
	color: var(--dark-background);
	border-radius: var(--normal-rounded-border);
	border: 1px solid var(--light-inner-border);
	padding: 11px;
	max-width: 100%;
}
