/*
	Component describing styles for
*/

.public-steps {
	display: flex;
	justify-content: space-between;
	padding-top: 22px;
	padding-bottom: 22px;
}

.public-steps div {
	max-width: 100%;
	text-align: center;
}

.public-steps div:first-child {
	padding-left: 0;
	padding-right: 5px;
}

.public-steps div:last-child {
	padding-left: 5px;
	padding-right: 0;
}
.public-steps img {
	margin-bottom: 16px;
	max-width: 95%;
}

.public-steps .m-box-text-centered {
	padding: 0 5px;
}
/*
Styles applied while screen sieze is less than 640px
*/
@media only screen and (max-width: var(--mobile-width)) {

	/*
	Setting flexibity wrap, so boxes are placed one under another.
	*/
	.public-steps {
		flex-wrap: wrap;
		min-width: var(--min-mobile-width);
	}

	.public-steps .m-box-text-centered {
		margin-bottom: 22px;
		width: 100%;
		padding: 0;
	}

	.public-steps div:first-child {
		padding-right: 0;
	}

	.public-steps .m-box-text-centered:last-child {
		margin-bottom: 0;
		padding-left: 0;
	}
}
