.public-multi-entry {
	width: 100%;
}

.public-multi-entry a {
	text-align: center;
}

.public-multi-entry h1 {
	text-align: center;
	width: 100%;
	margin: 22px 0;
}

.public-multi-entry div {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.public-multi-entry-entrance {
		width: 200px;
		height: 200px;
		border-radius: 100px;
		background: var(--white-background);
		border: 1px solid var(--light-inner-border);
}

.public-multi-entry-entrance {
	position: relative;
}

.public-multi-entry-entrance-title {
	margin-bottom: 22px;
}

.public-multi-entry-entrance-hint {
	position: absolute;
	top: 5px;
	left: 25px;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background-color: #999;
}
