/*
Component describing styles for public banner - non-reusable
*/

/*
Class describing how home page bunner is displayed as full width cover for i.e
home page.
*/
.public-banner {
	background-image: url('../img/baner.png');
	background-position: center center;
	background-size: cover;
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	width: 100%;
}

/*
Class describing how boxes for informations insight banner are displayed
*/
.public-banner-text {
	display: flex;
	justify-content: space-between;
}

.public-banner,
.public-banner-box-text {
	min-height: 374px;
}
/*
		Class used for sticking img in banner bottom line, having 50% of banner width
*/
.public-baner-box-img {
	align-self: flex-end;
	min-width: 50%;
}

.public-baner-box-img img {
	display: block;
	width: 100%;
}

.public-banner-box-text > * {
	margin-top: 22px;
}

/*
Styles applied while screen size is less than 640px
*/
@media only screen and (max-width: var(--mobile-width)) {
		.public-banner-text {
			flex-wrap: wrap;
			min-width: var(--min-mobile-width);
		}
		.public-banner {
			min-height: 462px;
		}
		.public-banner-box-text {
			margin: 0 auto;
			text-align: center;
		}
}
