.registration-init-actions li {
	margin-top: 22px;
}
.registration-init-actions li:first-child {
	margin-top: 0;
}

.registration-init-actions li > * {
	display: inline-block;
	width: 70%;
}
.registration-init-actions li > *:first-child {
	width: 28%;
	margin-right: 2%;
	vertical-align: top;
}
.registration-init-actions li > :first-child.disabled {
	opacity: 1;
	background-color: rgb(218,76,59);
	background-color: rgba(218,76,59, 0.4);
}

.registration-init-actions li > *:first-child a,
.registration-init-actions li > *:first-child button {
	width: 100%;
	white-space: normal;
}

.registration-init-actions-dialog select {
	width: 100%;
}

@media only screen and (max-width: var(--mobile-width)) {
	.registration-init-actions li > *,
	.registration-init-actions li > *:first-child {
		width: 100%;
	}
}
