.revision {
	background-color: var(--light-background);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: var(--desktop-width);
	padding: 0 10px 22px 10px;
}

.revision-document {
	width: 59%;
	max-height: 927px;
}

.revision-user-data-section {
	width: 39%;
	max-height: 927px;
	overflow-y: scroll;
	padding: 22px 15px 0 15px;
}

.revision-user-data-section h4 {
	margin-bottom: 5px;
	color: #ffffff;
	margin:  22px 0 0 0;
	background-color: var(--normal-background);
	padding: 11px 0 11px 8px;
}

.revision-user-data-section h5 {
	margin: 22px 0;
	font-size: 14px;
}

.revision-user-data-section h6 {
	font-size: 13px;
	margin-top: 22px;
}

.table-revision {
	margin: 0;
}

.table-revision th,
.table-revision td {
	width: 50%;
}

@media only screen and (max-width: var(--mobile-width)) {

	.revision .revision-document {
		width: 100%;
		padding-bottom: 22px;
		}

	.revision-user-data-section {
		width: 100%;
		max-height: 100%;
		overflow: visible;
		margin-top: 22px;
		}
}
