.scrollable-list-box-described {
	display: inline-block;
	padding: 11px;
	background-color: #F4F4F4;
	border-radius: 3px;
	color: #999;
	margin-top: 11px;
	margin-bottom: 11px;
}

.scrollable-list-box-described > * {
	display: inline-block;
	width: calc(50% - 10px);
	line-height: 22px;
	vertical-align: top;
}

.scrollable-list-box-described > *:first-child {
	margin-right: 5px;
	margin-left: 0;
}

.scrollable-list-box-described > label {
	font-size: 12px;
}

.scrollable-list-box-described > ul {
	border: 1px solid var(--light-inner-border);
	padding: 0 5px;
	margin-top: -1px;
	margin-bottom: -1px;
	height: 88px;
	overflow: auto;
}

.scrollable-list-box-described > p {
	font-size: 12px;
	color: var(--hint-text);
	margin-left: 5px;
	line-height: 16px;
}

.scrollable-list-box-described > label {
	display: block;
}

/*
Styles applied while screen size is less than 640px
*/
@media only screen and (max-width: var(--mobile-width)) {
	.scrollable-list-box-described > * {
		width: 100%;
		margin-left: 0;
	}
}
