.scrollable-list-box {
	display: inline-block;
}

.scrollable-list-box > ul {
	border: 1px solid var(--light-inner-border);
	padding: 0 5px;
	margin-top: -1px;
	margin-bottom: -1px;
	height: 88px;
	overflow: auto;
}
