.section-warning > ul {
	list-style-type: none;
	padding-left: 0;
}

.section-warning > ul > li {
	background-color: var(--white-background);
	border: none;
	border-left: 3px solid var(--dark-background);
	padding: 22px 15px;
	border-radius: 0;
	margin-bottom: 22px;
}

.section-warning > ul > li > a {
	text-decoration: none;
	color: var(--dark-text);
}
.section-warning > ul > li > a:hover,
.section-warning > ul > li > a:focus,
.section-warning > ul > li > a:active {
	text-decoration: underline;
}

.section-warning-missing-fields {
	display: inline;
}

.section-warning-missing-fields li {
	display: inline-block;
	text-indent: 11px;
}

/*
Styles applied while screen size is less than 640px
*/
@media only screen and (max-width: var(--mobile-width)) {
	.section-warning  {
		min-width: var(--min-mobile-width);
	}
}
