.section-tabs > div {
	border-top-left-radius: 0;
}

.section-tabs .tab {
	background: var(--light-background);
	border: 1px solid var(--light-inner-border);
	border-radius: 4px 4px 0 0;
	line-height: 44px;
	padding: 12px;
	margin-right: 1px;
	position: relative;
	cursor: pointer;
	font-size: 17px;
}
.section-tabs .tab:hover,
.section-tabs .tab:focus,
.section-tabs .tab:active {
	background: var(--white-background);
}
.section-tabs .tab.active {
	background: var(--white-background);
	border-bottom: none;
	z-index: 999;
}
