.section-primary {
	background-color: var(--white-background);
	border-radius: 5px;
	border: 1px solid var(--light-inner-border);
	padding: 20px 15px 0 15px;
	position: relative;
	margin: 22px 0;
}

.sections-primary-list {
	list-style-type: none;
}

.sub-section {
	border: none;
	padding: 0;
}

.sub-section h3 {
	background: var(--light-background);
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	margin-bottom: 12px;
	border-left: 3px solid var(--normal-dark-background);
	color: var(--normal-dark-background);
}

.section-primary .dbjs-input-component label,
.section-primary .control {
	padding: 0 10px;
}

.section-primary .dbjs-input-component > label {
	width: 40%;
	text-align: right;
	font-weight: bold;
}
.section-primary .dbjs-input-component > .control {
	width: 60%;
}

.section-primary .button-scroll-top {
	text-align: right;
}

.section-primary .button-scroll-top a {
	background: var(--normal-background);
	border-radius: 3px;
	color: var(--white-text);
	display: inline-block;
	padding: 0 5px;
	text-decoration: none;
}
.section-primary .button-scroll-top a:hover,
.section-primary .button-scroll-top a:focus,
.section-primary .button-scroll-top a:active {
	background: var(--normal-dark-background);
}

@media only screen and (max-width: var(--mobile-width)) {
	.section-primary .dbjs-input-component label {
		text-align: left;
		width: 100%;
	}
	.section-primary .dbjs-input-component > .control {
		padding: 11px 10px;
		width: 100%;
	}
}
