.section-sides > * {
	display: inline-block;
	width: 49%;
	vertical-align: top;
	padding-left: 1%;
}
.section-sides > *:first-child {
	padding-right: 1%;
	padding-left: 0;
}

.section-sides-separator {
	border-left: 1px solid var(--light-inner-border);
}

.section-sides > * > *,
.section-sides form > * {
	margin-bottom: 22px;
}

@media only screen and (max-width: var(--mobile-width)) {
	.section-sides > * {
		width: 100%;
		margin: 0;
	}
	.section-sides > *:first-child {
		margin-bottom: 22px;
	}

	.section-sides-separator {
		border-left: none;
	}
}
