.section-primary-wrapper {
	margin: 22px auto;
	max-width: var(--desktop-width);
	padding: 0 10px;
}

.section-primary-wrapper .section-primary {
	background-color: var(--white-background);
	border-radius: 5px;
	border: 1px solid var(--light-inner-border);
	padding: 20px 15px 0 15px;
	position: relative;
	margin: 22px 0;
}

/*.section-primary-wrapper fieldset,
.section-primary-wrapper > form,
.section-primary-wrapper > div,
.section-primary-wrapper > ul li {
	background-color: var(--white-background);
	border-radius: 5px;
	border: 1px solid var(--light-inner-border);
	padding: 20px 15px 0 15px;
	position: relative;
}

.section-primary-wrapper > ul {
	padding-left: 0;
	list-style-type: none;
	margin-bottom: 0;
}

.section-primary-wrapper li {
	margin-bottom: 22px;
}

.section-primary-wrapper li:last-child {
	margin-bottom: 0;
}*/

.section-primary-wrapper .sub-section {
	border: none;
	padding: 0;
}

.section-primary-wrapper .sub-section h3 {
	background: var(--light-background);
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	margin-bottom: 12px;
	border-left: 3px solid var(--normal-dark-background);
	color: var(--normal-dark-background);
}
/*
Styles applied while screen sieze is less than 640px
*/
@media only screen and (max-width: var(--mobile-width)) {
	.section-primary-wrapper {
		min-width: var(--min-mobile-width);
	}
}
