.section-tab-nav-tab {
	background: var(--normal-background);
	border-radius: 0;
	color: var(--light-text);
	display: inline-block;
	line-height: 44px;
	padding: 0 13px;
	margin-right: 1px;
	position: relative;
	z-index: 2;
	cursor: pointer;
	font-size: 17px;
	text-decoration: none;
}
.section-tab-nav-tab:hover,
.section-tab-nav-tab:focus,
.section-tab-nav-tab:active {
	background: var(--white-background);
	text-decoration: none;
}
.section-tab-nav .active > .section-tab-nav-tab,
.section-tab-nav-tab.active {
	color: var(--dark-text);
	background: var(--white-background);
	border-bottom: 1px solid var(--white-background);
}

.section-tab-nav {
	background: var(--normal-background);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	border-radius: 2px;
}

.section-tab-nav > div {
	width: 100%;
}

.section-tab-nav > div > .section-primary,
.section-tab-nav > .section-primary {
	border-radius: 0;
	box-shadow: none;
}
.section-tab-nav > li {
	display: inline-block;
}

/* Tabs content section rules (displayed to user) */

.section-tab-nav-tab-content {
	display: none;
}
.section-tab-nav-tab-content.active {
	display: block;
}

@media only screen and (max-width: var(--mobile-width)) {
	.section-tab-nav {
		display: flex;
		flex-wrap: wrap;
	}
	.section-tab-nav-tab {
		background: var(--light-background);
		border-radius: 10px;
		width: 100%;
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 22px;
		text-align: center;
		display: block;
	}
	.section-tab-nav-tab:hover,
	.section-tab-nav-tab:focus,
	.section-tab-nav-tab:active {
		background: var(--normal-dark-background);
		color: var(--white-text);
	}
	.section-tab-nav .active > .section-tab-nav-tab,
	.section-tab-nav-tab.active {
		border: 1px solid var(--light-inner-border);
		background: var(--normal-dark-background);
		color: var(--white-text);
		padding-bottom: 0;
	}
	.section-tab-nav > li {
		display: block;
		width: 100%;
	}
}
