.section-primary {
	margin: 22px auto 0;
	max-width: var(--desktop-width);
	padding: 0 10px;
}

.section-primary fieldset,
.section-primary > form,
.section-primary > div,
.section-primary > ul li {
	background-color: var(--lighter-background);
	border-radius: 5px;
	border: 1px solid var(--light-inner-border);
	padding: 21px 15px 0 15px;
}

.section-primary > ul {
	padding-left: 0;
	list-style-type: none;
	margin-bottom: 0;
}

.section-primary li {
	margin-bottom: 22px;
}

.section-primary li:last-child {
	margin-bottom: 0;
}
