.section-warning > ul {
	list-style-type: none;
	padding-left: 0;
}

.section-warning > ul > li {
	background-color: var(--white-background);
	border: none;
	border-left: 3px solid var(--dark-background);
	padding: 22px 15px;
	border-radius: 0;
	margin-bottom: 22px;
}

.section-warning > ul > li.section-warning-error {
	border-left-color: var(--error-background);
	padding:11px 15px;
}

.section-warning > ul > li.section-warning-error > * {
	display: flex;
	vertical-align: middle;
	line-height: 44px;
}

.section-warning-error-action {
	flex:1;
	text-align: right;
}

.section-warning-error-content {
	flex:3;
	text-align: left;
}

.section-warning > ul > li > a {
	text-decoration: none;
	color: var(--dark-text);
}
.section-warning > ul > li > a:hover,
.section-warning > ul > li > a:focus,
.section-warning > ul > li > a:active {
	text-decoration: underline;
}

.section-warning-missing-fields {
	display: flex;
}
.section-warning-missing-fields p {
	white-space: nowrap;
	padding-right: 5px;
}
.section-warning-missing-fields-list {
	display: inline;
	font-style: italic;
}

.section-warning-missing-fields-list li {
	display: inline;
	white-space: nowrap;
}
.section-warning-missing-fields-list li::before {
	content: ", ";
	white-space: normal;
}
.section-warning-missing-fields-list li:first-child::before {
	content: normal;
}

.section-warning-missing-fields-sub-1 {
	padding-left: 10px;
}

.section-warning-missing-fields-sub-2 {
	padding-left: 20px;
}

.section-warning-missing-fields-sub-3 {
	padding-left: 30px;
}

.section-warning-missing-fields-sub-4 {
	padding-left: 40px;
}

.section-warning-missing-fields-sub-5 {
	padding-left: 50px;
}

/*
Styles applied while screen size is less than 640px
*/
@media only screen and (max-width: var(--mobile-width)) {
	.section-warning  {
		min-width: var(--min-mobile-width);
	}
}
