.section-primary {
	background-color: var(--white-background);
	border-radius: 5px;
	border: 1px solid var(--light-inner-border);
	padding: 21px 20px;
	position: relative;
}
.section-primary > *,
.section-primary > form > *,
.section-primary > .disabler-range > *,
.section-primary > .disabler-range > form > *,
.section-primary > .section-primary-wrapper > * {
	margin-bottom: 22px;
}
.section-primary > *:empty,
.section-primary > *:last-child,
.section-primary > form > *:last-child,
.section-primary > .disabler-range > *:last-child,
.section-primary > .disabler-range > form > *:last-child,
.section-primary > .section-primary-wrapper > *:last-child {
	margin-bottom: 0;
}

.section-primary > .submit-placeholder,
.section-primary > form > .submit-placeholder,
.section-primary > .disabler-range > .submit-placeholder,
.section-primary > .disabler-range > form > .submit-placeholder,
.section-primary > .section-primary-wrapper > .submit-placeholder {
	margin-bottom: 0;
}

.section-primary > h2,
.section-primary > form > h2,
.section-primary > .disabler-range > h2,
.section-primary > .disabler-range > form > h2,
.section-primary > .section-primary-wrapper > h2 {
	margin-top: -10px;
	padding-bottom: 9px;
	border-bottom: 1px solid var(--light-background);
}

.section-primary > .section-primary-legend,
.section-primary > form > .section-primary-legend,
.section-primary > .disabler-range > .section-primary-legend,
.section-primary > .disabler-range > form > .section-primary-legend,
.section-primary > .section-primary-wrapper > .section-primary-legend {
	margin-bottom: 12px;
}

.sections-primary-list {
	list-style-type: none;
}

.section-primary-sub,
.section-primary-sub-small {
	border: none;
	padding: 0;
	position: relative;
}

.section-primary-sub {
	margin-bottom: 44px;
}

.section-primary-sub:last-child {
	margin-bottom: 0;
}

.section-primary-sub h2,
.section-primary-sub h3 {
	font-weight: 400;
	border-bottom: 1px dashed var(--normal-light-medium-background);
	padding:5px;
	margin-bottom: 11px;
}

.section-primary-sub > * {
	margin-bottom: 22px;
}

.section-primary-sub > .section-primary-legend {
	margin-bottom:12px;
}

.section-primary-sub > *:empty,
.section-primary-sub > :last-child {
	margin-bottom: 0;
}

.section-primary-sub-action {
	line-height: 44px;
}

.section-primary-scroll-top {
	text-align: right;
	position: absolute;
	bottom: 22px;
	right: 20px;
}

.section-primary-scroll-top a {
	background: var(--normal-background);
	border-radius: 3px;
	color: var(--white-text);
	display: inline-block;
	padding: 0 5px;
	text-decoration: none;
}
.section-primary-scroll-top a:hover,
.section-primary-scroll-top a:focus,
.section-primary-scroll-top a:active {
	background: var(--normal-dark-background);
}
.section-primary-scroll-top a span {
	vertical-align: middle;
}

.section-primary-legend {
	border-left: 3px solid var(--dark-background);
	padding-left: 15px;
	font-weight: 400;
	background-color: var(--light-background);
	padding: 5px 15px;
	display: block;
}
