.section-primary {
	background-color: var(--white-background);
	border-radius: 5px;
	border: 1px solid var(--light-inner-border);
	padding: 21px 20px;
}
.section-primary > *,
.section-primary > form > *,
.section-primary > .disabler-range > *,
.section-primary > .section-primary-wrapper > * {
	margin-bottom: 22px;
}
.section-primary > *:last-child,
.section-primary > form > *:last-child,
.section-primary > .disabler-range > *:last-child,
.section-primary > .section-primary-wrapper > *:last-child {
	margin-bottom: 0;
}

.sections-primary-list {
	list-style-type: none;
}

.section-primary-sub {
	border: none;
	padding: 0;
}

.section-primary-sub h2,
.section-primary-sub h3 {
	margin: 11px 0;
}

.section-primary-sub > * {
	margin-bottom: 22px;
}

.section-primary-sub > :last-child {
	margin-bottom: 0;
}

.section-primary-sub-action {
	line-height: 44px;
}

.section-primary .dbjs-input-component > label,
.section-primary .dbjs-input-component > .input {
	padding: 0 10px;
	display: inline-block;
	vertical-align: top;
}
.section-primary .dbjs-input-component.pure-value > .input {
	padding-top: 11px;
}

.section-primary .dbjs-input-component > label {
	width: 40%;
	text-align: right;
	font-weight: 500;
	margin: 11px 0;
}
.section-primary .dbjs-input-component > .input {
	width: 60%;
}
.section-primary .dbjs-input-component > .input:first-child {
	margin-left: 40%;
}

.section-primary .dbjs-input-component > .input input[type="text"],
.section-primary .dbjs-input-component > .input input[type="number"],
.section-primary .dbjs-input-component > .input input[type="email"],
.section-primary .dbjs-input-component > .input input[type="password"],
.section-primary .dbjs-input-component > .input input[type="date"],
.section-primary .dbjs-input-component > .input input[type="month"],
.section-primary .dbjs-input-component > .input input[type="week"],
.section-primary .dbjs-input-component > .input input[type="time"],
.section-primary .dbjs-input-component > .input input[type="datetime"],
.section-primary .dbjs-input-component > .input input[type="datetime-local"],
.section-primary .dbjs-input-component > .input input[type="search"],
.section-primary .dbjs-input-component > .input input[type="email"],
.section-primary .dbjs-input-component > .input input[type="url"],
.section-primary .dbjs-input-component > .input input[type="tel"],
.section-primary .dbjs-input-component > .input input[type="color"],
.section-primary .dbjs-input-component > .input select,
.section-primary .dbjs-input-component > .input textarea  {
	max-width: 90%;
}

.section-primary .dbjs-input-component .multiple input[type="text"],
.section-primary .dbjs-input-component .multiple input[type="number"],
.section-primary .dbjs-input-component .multiple input[type="email"],
.section-primary .dbjs-input-component .multiple input[type="password"],
.section-primary .dbjs-input-component .multiple input[type="date"],
.section-primary .dbjs-input-component .multiple input[type="month"],
.section-primary .dbjs-input-component .multiple input[type="week"],
.section-primary .dbjs-input-component .multiple input[type="time"],
.section-primary .dbjs-input-component .multiple input[type="datetime"],
.section-primary .dbjs-input-component .multiple input[type="datetime-local"],
.section-primary .dbjs-input-component .multiple input[type="search"],
.section-primary .dbjs-input-component .multiple input[type="email"],
.section-primary .dbjs-input-component .multiple input[type="url"],
.section-primary .dbjs-input-component .multiple input[type="tel"],
.section-primary .dbjs-input-component .multiple input[type="color"],
.section-primary .dbjs-input-component .multiple select,
.section-primary .dbjs-input-component .multiple textarea  {
	max-width: 100%;
}

.section-primary .dbjs-input-component > .input .input {
	width: auto;
	margin-left: 0;
	padding-left: 0;
}

.section-primary-scroll-top {
	text-align: right;
}

.section-primary-scroll-top a {
	background: var(--normal-background);
	border-radius: 3px;
	color: var(--white-text);
	display: inline-block;
	padding: 0 5px;
	text-decoration: none;
}
.section-primary-scroll-top a:hover,
.section-primary-scroll-top a:focus,
.section-primary-scroll-top a:active {
	background: var(--normal-dark-background);
}
.section-primary-scroll-top a span {
	vertical-align: middle;
}

.section-primary .info-main {
	background: var(--normal-light-background);
	padding-top: 10px;
	padding-bottom: 10px;
}

.section-primary .dbjs-input-component > .input .multiple ul {
	max-width: 96%;
}

@media only screen and (max-width: var(--mobile-width)) {
	.section-primary .dbjs-input-component > label {
		text-align: left;
		width: 100%;
		margin: 3px 0 -3px;
	}
	.section-primary .dbjs-input-component > .input {
		width: 100%;
	}
	.section-primary .dbjs-input-component > .input:first-child {
		margin-left: 0;
	}
}

.section-primary > .submit-placeholder,
.section-primary > form > .submit-placeholder,
.section-primary > .disabler-range > .submit-placeholder,
.section-primary > .section-primary-wrapper > .submit-placeholder {
	margin-bottom: 0;
}

.section-primary > h2,
.section-primary > form > h2,
.section-primary > .disabler-range > h2,
.section-primary > .section-primary-wrapper > h2 {
	margin-top: -10px;
	margin-bottom: 10px;
}

.section-primary-legend {
	border-left: 3px solid var(--dark-background);
	padding-left: 15px;
	font-weight: 400;
	background-color: var(--light-background);
	padding: 5px 15px;
	display: block;
}

.section-primary > .section-primary-legend, .section-primary > form > .section-primary-legend,
.section-primary > .disabler-range > .section-primary-legend,
.section-primary > .section-primary-wrapper > .section-primary-legend {
	margin-bottom: 12px;
}
