.statistics-table-dual {
	margin-bottom: 0;
}

.statistics-table-dual > * {
	margin-bottom: 22px;
}

.statistics-table-dual-main {
	max-width: 58%;
	margin-right: 2%;
}

.statistics-table-dual-aside {
	max-width: 40%;
}

.statistics-table-dual-aside tbody .statistics-table-dual-labeled-data td:first-child {
	text-align: right;
}
.statistics-table-dual-aside tbody .statistics-table-dual-labeled-data td:nth-child(2) {
	text-align: left;
}

@media only screen and (max-width: var(--mobile-width)) {
	.statistics-table-dual-main {
		margin-right: 0;
	}
	.statistics-table-dual-main,
	.statistics-table-dual-aside  {
		max-width: none;
	}
}
