.statistics-table {
	display: inline-table;
	border: 1px solid var(--light-inner-border);
}

.statistics-table thead tr th,
.statistics-table tbody tr td {
	padding: 11px 6px 10px;
	text-align: left;
}
.statistics-table thead tr .statistics-table-number,
.statistics-table tbody tr .statistics-table-number {
	text-align: center;
}

.statistics-table thead th {
	color: var(--dark-text);
	padding: 11px 6px 10px;
	text-align: center;
	font-weight: 100;
	font-size: 15px;
	border:none;
}

.statistics-table-officials thead th,
.statistics-table-registrations thead th {
	padding: 10px 6px;
	border-bottom: 1px solid var(--light-inner-border);
}

.statistics-table-registrations .statistics-table-header-success {
	background: var(--light-success-background);
}

.statistics-table-registrations .statistics-table-header-waiting {
	background: var(--light-waiting-background);
}

.statistics-table-registrations .statistics-table-header-pending {
	background: var(--light-pending-background);
}

.statistics-table-registrations .statistics-table-header-sentback {
	background: var(--light-sentback-background);
}

.statistics-table thead tr th span {
	margin: 0;
}
.statistics-table tbody tr td span {
	margin: 0 2px;
}
.statistics-table tbody tr td span:first-child {
	margin-left: 0;
}
.statistics-table tbody tr td span:last-child {
	margin-right: 0;
}

.statistics-table tbody tr td {
	border-bottom: 1px solid var(--light-inner-border);
	background: var(--white-background);
}

.statistics-table tbody .statistics-table-sub-header {
	font-weight: bold;
}

.statistics-table tbody .statistics-table-sub-header-overall td {
	background: var(--light-overall-background);
}

.statistics-table tbody .statistics-table-sub-header-waiting td {
	background: var(--light-waiting-background);
}

.statistics-table tbody .statistics-table-sub-header-pending td {
	background: var(--light-pending-background);
}

.statistics-table tbody .statistics-table-sub-header-sentback td {
	background: var(--light-sentback-background);
}

.statistics-table tbody .statistics-table-sub-header-success td {
	background: var(--light-success-background);
}

.statistics-table tbody .statistics-table-sub-header-demo td {
	background: var(--light-demo-background);
}

.statistics-table tbody .statistics-table-sub-sub-header td {
	background: var(--light-background);
}

.statistics-table-nested-row td {
	color: var(--light-normal-text);

}
.statistics-table tbody .statistics-table-nested-row td:first-child {
	padding-left: 21px;
}

.statistics-table-sensitive-data {
	color: var(--error-text);
}
