.statstics-tables {
	padding-top: 22px;
}

.statstics-tables > table:first-child:not(:only-child),
.statstics-tables > table:last-child:not(:only-child) {
	display: inline-table;
}

.statstics-tables > table:first-child:not(:only-child) {
	max-width: 58%;
	margin-right: 2%;
}

.statstics-tables > table:last-child:not(:only-child) {
	max-width: 40%;
}

.statstics-tables > table {
	border: 1px solid var(--light-inner-border);
}

.statstics-tables > table thead tr th,
.statstics-tables > table tbody tr td {
	padding: 11px 5px;
}

.statstics-tables > table thead tr th {
	background: var(--normal-light-medium-background);
	color: var(--white-text);
	text-align: right;
}

.statstics-tables > table thead tr th span {
	margin: 0;
}
.statstics-tables > table tbody tr td span {
	margin: 0 2px;
}
.statstics-tables > table tbody tr td span:first-child {
	margin-left: 0;
}
.statstics-tables > table tbody tr td span:last-child {
	margin-right: 0;
}

.statstics-tables > table tbody tr td {
	border-bottom: 1px solid var(--light-inner-border);
	background: var(--white-background);
	text-align: right;
}
.statstics-tables > table tbody tr td:first-child {
	text-align: left;
}

.statstics-tables > table tbody .statstics-table-sub-header td {
	font-weight: bold;
	background: var(--light-medium-background);
}

.statstics-tables > table tbody .statstics-table-sub-sub-header td {
	background: var(--light-background);
}

.statstics-tables > * {
	margin-bottom: 22px;
}

@media only screen and (max-width: var(--mobile-secondary-width)) {
	.statstics-tables > table:first-child:not(:only-child) {
		margin-right: 0;
	}
	.statstics-tables > table:first-child:not(:only-child),
	.statstics-tables > table:last-child:not(:only-child) {
		max-width: none;

	}
}
