/*
*/
div.steps-menu {
    background-color: #333;
    background-position: center center;
    background-size: cover;
    display: -moz-box;         /* OLD - Firefox 19 */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    padding: 11px 0;
    width: 100%;
}
div.steps-menu nav {
    -webkit-justify-content: space-between;
    display: -moz-box;         /* OLD - Firefox 19 */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1050px;
}
div.steps-menu nav menuitem {
    background-color: white;
    background-color: #333;
}

/*
Styles applied while screen sieze is less than 640px
*/
@media only screen and (max-width: 640px) {

    /*
        Setting flexibity wrap, so boxes are placed one under another.
    */
    div.steps-menu nav  {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}