@media only screen and (max-width: 640px) {

}
/*
*/
div.steps-menu {
    background-color: #333;
    background-position: center center;
    background-size: cover;
    display: flex;
    padding: 11px 0;
    width: 100%;
}
div.steps-menu nav.desktop-steps-menu {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1050px;
}

div.steps-menu nav menuitem {
    background-color: #333;
}

nav.responsive-steps-menu {
    display: none;
}

#responsive-steps {
    display: none;
}

nav.responsive-steps-menu label {
    width: 100%;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked ~ #responsive-steps {
    display: flex;
    flex-wrap: wrap;
}

#responsive-steps menuitem {
    margin: 11px 0;
    text-align: center;
    width: 100%;
}
#responsive-steps menuitem button {
    margin: 0 auto;
    width: 100%;
}
/*
Styles applied while screen sieze is less than 640px
*/
@media only screen and (max-width: 640px) {
    div.steps-menu nav.desktop-steps-menu {
        display: none;
    }

    nav.responsive-steps-menu {
        display: block;
        margin: 0 auto;
        padding: 0 5%;
        width: 100%;
    }

    nav.responsive-steps-menu label {
        margin: 11px 0;
        width: 100%;
    }
}