.submitted-user-history tr {
	border-top: 1px solid var(--light-inner-border);
}
.submitted-user-history tr:first-child {
	border-top: none;
}

.submitted-user-history tr:nth-child(even) {
	background-color: var(--light-background);
}

.submitted-user-history tr th {
	text-align: left;
	padding-left: 10px;
}
.submitted-user-history tr,
.submitted-user-history td {
	padding: 11px 11px 10px;
	text-align: left;
}
.submitted-user-history tr:first-child td {
	padding-bottom: 11px;
}

.submitted-user-history-wrapper {
	max-height: 220px;
	overflow: auto;
	outline: 1px solid var(--light-inner-border); /* outline not border to keep VR */
}

.submitted-user-history-time {
	white-space: nowrap;
}
