.submitted-menu {
	background-color: var(--dark-background);
	background-position: center center;
	background-size: cover;
	display: flex;
	width: 100%;
}
.submitted-all-menu-items {
	display: flex;
	margin: 0 auto;
	width: 100%;
}

.submitted-menu .items {
	display: flex;
	justify-content: flex-start;
	margin: 0 auto;
	padding: 0 10px;
	width: var(--desktop-width);
}

.submitted-menu menuitem .item-active {
	background: var(--normal-dark-background);
}

.submitted-menu a {
	color: var(--white-text);
	font-size: 16px;
	text-decoration: none;
	padding: 0 17px;
	height: 44px;
	line-height: 44px;
	display: block;
}

.navs-both-sides {
	display: flex;
	justify-content: space-between;
	width: var(--desktop-width);
	margin: 0 auto;
}
.navs-both-sides .items {
	width: auto;
	margin: 0;
}

.role-select {
	border: none;
	background-color: var(--dark-background);
	box-shadow: none;
	color: var(--white-text);
	margin: 0;
	height: 44px;
	outline: none;
}

@media only screen and (max-width: var(--mobile-width)) {
	.submitted-menu {
		min-width: var(--min-mobile-width);
	}
}
