.submitted-user-history tr {
	border-top: 1px solid var(--light-inner-border);
}

.submitted-user-history tr:nth-child(even) {
	background-color: var(--light-background);
}

.submitted-user-history tr th {
	text-align: left;
	padding-left: 10px;
}
.submitted-user-history tr,
.submitted-user-history td {
	padding: 11px 0 10px;
	text-align: left;
}
