.submitted-documents-thumbs {
	counter-reset:li;
	margin-bottom: 0;
}

.submitted-documents-thumbs li {
	position: relative;
	line-height: 129px;
	width: 94px;
	margin-right: 19px;
	margin-bottom: 22px;
	display: inline-block;
}

.submitted-documents-thumbs li:before {
	content: counter(li);
	counter-increment: li;
	position: absolute;
	bottom: 4px;
	left: 4px;
	width: 19px;
	height: 19px;
	margin-right: 8px;
	border-top: 1px solid var(--normal-dark-background);
	border-radius: 50%;
	color: var(--white-text);
	background: var(--normal-dark-background);
	text-align: center;
	font-size: 11px;
	line-height: 18px;
	font-weight: bold;
}

.submitted-documents-thumbs a {
	display: block;
	height: 132px;
	border: 1px solid var(--light-inner-border);
	text-align: center;
}

.submitted-documents-thumbs a:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.submitted-documents-thumbs img {
	margin: 0;
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%;
}

.submitted-documents-thumbs-status {
	position: absolute;
	line-height: 18px;
	right: 0;
	display: block;
	border-radius: 10px;
	border: 1px solid var(--light-text);
	width: 20px;
	text-align: center;
	background: var(--white-background);
	margin-top: -8px;
	margin-right: -8px;
}

.submitted-documents-thumbs-success {
	color: var(--success-text);
}
.submitted-documents-thumbs-error {
color: var(--error-text);
}

@media only screen and (max-width: var(--mobile-width)) {

	.submitted-documents-thumbs li {
		margin-bottom: 22px;
	}

}
