.submitted-documents-thumbs {
	counter-reset:li;
	width: 100%;
	list-style-type: none;
	margin: 0 0 22px 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
}

.submitted-documents-thumbs li {
	position: relative;
	height: 132px;
	line-height: 132px;
	width: 94px;
	margin-right: 30px;
}

.submitted-documents-thumbs li:before {
	content: counter(li);
	counter-increment: li;
	position: absolute;
	bottom: 4px;
	left: 4px;
	width: 19px;
	height: 19px;
	margin-right: 8px;
	border-top: 1px solid var(--normal-dark-background);
	border-radius: 50%;
	color: var(--white-text);
	background: var(--normal-dark-background);
	text-align: center;
	font-size: 11px;
	line-height: 18px;
	font-weight: bold;
}

.submitted-documents-thumbs a {
	display: block;
	height: 132px;
	border: 1px solid var(--light-inner-border);
}

.submitted-documents-thumbs a:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.submitted-documents-thumbs img {
	margin: 0;
	vertical-align: middle;
}

.submitted-documents-thumbs .document-confirmation {
	position: absolute;
	line-height: 18px;
	right: 0;
	display: block;
	border-radius: 10px;
	border: 1px solid var(--light-text);
	width: 20px;
	text-align: center;
	background: var(--white-background);
	margin-top: -8px;
	margin-right: -8px;
}
.document-confirmation.success {
	color: var(--success-text);
}
.document-confirmation.error {
	color: var(--error-text);
}

@media only screen and (max-width: var(--mobile-width)) {

	.submitted-documents-thumbs li {
		margin-bottom: 22px;
	}

}
