.submitted-menu {
	background-color: var(--dark-background);
	background-position: center center;
	background-size: cover;
	display: flex;
	width: 100%;
	line-height: 44px;
}
.submitted-menu button, .submitted-menu input[type=submit] {
	line-height: inherit;
}

.submitted-menu-bar {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 100%;
}

.submitted-menu-items {
	display: flex;
	justify-content: flex-start;
	margin: 0;
	padding: 0;
	width: auto;
	list-style-type: none;
}

.submitted-menu-item-active,
.submitted-menu a:hover,
.submitted-menu a:focus,
.submitted-menu a:active,
.submitted-menu .submitted-menu-item-active {
	background: var(--normal-dark-background);
	color:var(--white-text);
}

.submitted-menu .submitted-menu-item-active a,
.submitted-menu .submitted-menu-item-active button {
	color:var(--white-text);
}

.submitted-menu a,
.submitted-menu button {
	color: var(--normal-dark-background);
	font-size: 16px;
	text-decoration: none;
	padding: 0 17px;
	display: block;
}

.submitted-menu button {
	border-radius: 0;
	background-color: transparent;
}

.submitted-menu-items > li {
	border-top:1px solid var(--normal-dark-background);
	border-bottom:1px solid var(--normal-dark-background);
	background-color: var(--light-background);
	line-height: 42px;
}

.submitted-menu-role-select {
	line-height: 44px;
}

.submitted-menu-role-select > p {
	display: inline-block;
}

.submitted-menu-role-select select {
	border: none;
	background-color: var(--dark-background);
	box-shadow: none;
	color: var(--white-text);
	margin: 0;
}

@media only screen and (max-width: var(--mobile-width)) {
	.submitted-menu {
		min-width: var(--min-mobile-width);
	}
}
