.submitted-menu {
	background-color: var(--dark-background);
	background-position: center center;
	background-size: cover;
	display: flex;
	width: 100%;
}

.submitted-menu .items {
	display: flex;
	justify-content: flex-start;
	margin: 0 auto;
	padding: 0 1px;
	width: var(--desktop-width);
}

.submitted-menu menuitem .item-active {
	background: var(--normal-dark-background);
}

.submitted-menu a {
	color: #ffffff;
	font-size: 16px;
	text-decoration: none;
	padding: 0 17px;
	height: 44px;
	line-height: 44px;
	display: block;
}

.section-submitted {
	margin: 0 auto;
	max-width: var(--desktop-width);
	padding-top: 22px;
}

.mobile-table-view {
	display: none;
}

.section-submitted thead {
	background-color: var(--normal-background);
}
.section-submitted thead th {
	color: #fff;
}

.section-submitted tbody tr {
	background-color: #ffffff;
}

.table-submitted th, .table-submitted td {
	border: 1px solid var(--normal-dark-background);
}

.table-history tr {
	border-top: 1px solid var(--normal-background);
}

@media only screen and (max-width: var(--mobile-width)) {

	.mobile-table-view {
		display: flex;
		width: 50%;
		background-color: var(--normal-background);
		padding: 6px;
		color: #ffffff;
	}
	.mobile-table-view-2 {
		display: flex;
		width: 50%;
		padding: 6px;
	}
	
	tr { 
		border: 1px solid #ccc; 
		height: auto;
	}
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
	}
	
	.table-submitted td {
		display: flex;
		justify-content: space-around;
		padding: 0;
	}
}