.section-submitted {
	margin: 0 auto;
	max-width: var(--desktop-width);
	padding: 22px 10px 0 10px;
}

.mobile-table-view-head {
	display: none;
}

.table-submitted thead {
	background-color: var(--normal-background);
}
.table-submitted thead th {
	color: #fff;
}

.section-submitted tbody tr {
	background-color: #ffffff;
}

.table-submitted th, .table-submitted td {
	border: 1px solid var(--light-inner-border);
}

@media only screen and (max-width: var(--mobile-width)) {

	.mobile-table-view-head {
		display: flex;
		width: 50%;
		background-color: var(--normal-background);
		padding: 6px;
		color: #ffffff;
	}
	.mobile-table-view-body {
		display: flex;
		width: 50%;
		padding: 6px;
	}

	tr {
		border: 1px solid #ccc;
		height: auto;
		}

	td {
		border-bottom: 1px solid #ccc;
		position: relative;
		}

	.table-submitted td {
		display: flex;
		justify-content: space-around;
		padding: 0;
		}

	.revision-document {
		width: 100%;
		}

	.revision-user {
		width: 100%;
		}
}
