.submitted-user-data-table  thead {
	background-color: var(--normal-background);
}
.submitted-user-data-table  thead th {
	color: var(--white-text);
}

.submitted-user-data-table  thead th,
.submitted-user-data-table  tbody td div {
		padding: 11px 25px 10px;
		line-height: 22px;
}

.submitted-user-data-table  tbody tr {
	background-color: var(--white-text);
}

.submitted-user-data-table tbody tr td {
	border: 1px solid var(--light-inner-border);
	padding: 0;
}

.submitted-user-data-table  th, .table-submitted td {
	border: 1px solid var(--light-inner-border);
}

.submitted-user-data-table  .fa-download {
	margin: 0 auto;
}

@media only screen and (max-width: var(--mobile-width)) {

	.submitted-user-data-table  tr {
		border: 1px solid var(--light-inner-border);
		height: auto;
		}

	.submitted-user-data-table  td {
		border-bottom: 1px solid var(--light-inner-border);
		position: relative;
		}

	.submitted-user-data-table  td {
		display: flex;
		justify-content: space-around;
		padding: 0;
		}

	.submitted-user-data-table  th {
		display: none;
	}
}
