.submitted-documents-list {
	counter-reset:li;
	list-style: none;
	line-height: 33px;
}

.submitted-documents-list a {
	text-decoration: none;
}

.submitted-documents-list > li {
	font-size: 15px;
}
.submitted-documents-list > li:before {
	content: counter(li);
	counter-increment: li;
	display: inline-block;
	width: 19px;
	margin-right: 8px;
	border-radius: 50%;
	color:	var(--white-text);
	background:	var(--normal-dark-background);
	text-align: center;
	font-size: 11px;
	line-height: 18px;
	font-weight: bold;
	vertical-align: text-bottom;
}

.submitted-documents-list > li .hint-optional {
	vertical-align: middle;
	margin-left: 8px;
}
