.submitted-user-data-table {
	font-size: 16px;
	margin-top: -1px; /* Fixes weird 1px addon as observed in Chrome */
}

.submitted-user-data-table .empty td {
	padding: 11px 6px;
	text-align: center;
	font-style: italic;
	color: var(--light-normal-text);
}

.submitted-user-data-table thead {
	background-color: transparent;
}
.submitted-user-data-table thead th {
	color: var(--dark-text);
	padding: 11px 11px;
	text-align: left;
	font-weight: 700;
	font-size: 15px;
	border:none;
}

.submitted-user-data-table tbody tr {
	background-color: var(--white-text);
}

.submitted-user-data-table tbody tr:hover td {
	background-color: var(--light-medium-background);
}

.submitted-user-data-table tbody .active td {
	border-top-color: var(--normal-background);
	border-bottom-color: var(--normal-background);
	border-top-style: double;
	border-top-width: 2px;
	border-bottom-width: 2px;
}

.submitted-user-data-table tbody .active td:first-child {
	border-left-color: var(--normal-background);
	border-left-width:3px;
	border-left-style: solid;
}

.submitted-user-data-table tbody .active td:last-child {
	border-right-color: var(--normal-background);
	border-right-width:2px;
	border-left-style: solid;
}

.submitted-user-data-table tbody td {
	border: 1px solid var(--light-inner-border);
	text-align: left;
	font-weight: 400;
	vertical-align: top;
}

.submitted-user-data-table .actions {
	text-align: center;
}

.submitted-user-data-table td.submitted-user-data-table-link a,
.submitted-user-data-table td {
	padding: 11px 10px 10px;
	font-size: 15px;
}
.submitted-user-data-table td.submitted-user-data-table-link {
	padding: 0;
}

.submitted-user-data-table td {
	padding: 0;
	position: relative;
}

.submitted-user-data-table td a {
	display: block;
}
.submitted-user-data-table td.actions a {
	display: inline;
	padding: 3px 6px 4px;
	font-size: 12px;
}

.submitted-user-data-table td a,
.submitted-user-data-table td button {
	width: 100%;
	text-align: left;
}

.submitted-user-data-table td a:empty,
.submitted-user-data-table td button:empty {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.submitted-user-data-table td.actions a,
.submitted-user-data-table td.actions button {
	padding-left: 6px;
	padding-right: 6px;
}

.submitted-user-data-table td.actions a,
.submitted-user-data-table td.actions button,
.submitted-user-data-table td.submitted-user-data-table-link a,
.submitted-user-data-table td.submitted-user-data-table-link button {
	color:var(--normal-text);
	width: auto;
	text-align: center;
}

.submitted-user-data-table button,
.submitted-user-data-table button[type="submit"] {
	color: inherit;
	background-color: transparent;
	font-size: 15px;
	padding: 11px 10px 10px;
	border-radius: 0;
}

.submitted-user-data-table-basic > a {
		font-weight: bold;
}
.submitted-user-data-table-basic > a > span {
	display: block;
	width: 100%;
	font-weight: normal;
}

.submitted-user-data-table th {
	border: 1px solid var(--light-inner-border);
}

.submitted-user-data-table tbody tr:nth-of-type(even) {
	background-color: var(--light-background);
}

.submitted-user-data-table .submitted-user-data-table-status a {
	text-align: center;
}

.submitted-user-data-table tr.submitted-user-data-table-sent-back {
	background-color: var(--error-light-background);
}

.submitted-user-data-table-sent-back td,
.submitted-user-data-table-sent-back td.actions a,
.submitted-user-data-table-sent-back td.actions button,
.submitted-user-data-table-sent-back td.submitted-user-data-table-link a,
.submitted-user-data-table-sent-back td.submitted-user-data-table-link button {
	color: var(--white-text);
	border-color: var(--error-light-background);
}

.submitted-user-data-table .submitted-user-data-table-status .fa-check {
	color: var(--success-text);
}

.submitted-user-data-table .submitted-user-data-table-status .fa-exclamation {
	color: var(--error-text);
}

.submitted-user-data-table .submitted-user-data-table-status {
	width: 40px;
	text-align: center;
}

.submitted-user-data-table .submitted-user-data-table-label {
	width: 486px;
}

.submitted-user-data-table .submitted-user-data-table-link {
	width: 40px;
	text-align: center;
	padding:0;
}

.submitted-user-data-table-date {
	width: 185px;
}

.submitted-user-data-table .submitted-user-data-table-action {
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	width: 40px;
}

.submitted-user-data-table .submitted-user-data-table-service {
	text-align: center;
	width: 40px;
}

.submitted-user-data-table .submitted-user-data-table-service a,
.submitted-user-data-table .submitted-user-data-table-service button {
	text-align: center;
}

.submitted-user-data-table .submitted-user-data-table-action a,
.submitted-user-data-table tbody tr .submitted-user-data-table-action {
	padding-left: 0;
	padding-right: 0;
}

@media only screen and (max-width: var(--mobile-width)) {

	.submitted-user-data-table.table-responsive tr {
		height: auto;
		}

	.submitted-user-data-table.table-responsive td {
		border-bottom: 1px solid var(--light-inner-border);
		position: relative;
		}

	.submitted-user-data-table.table-responsive td {
		display: flex;
		justify-content: space-around;
		padding: 0;
		height: auto;
		}

	.submitted-user-data-table.table-responsive th {
		display: none;
	}
	.submitted-user-data-table.table-responsive tbody tr td {
		padding: 0;
	}

	.submitted-user-data-table .submitted-user-data-table-action,
	.submitted-user-data-table .submitted-user-data-table-service,
	.submitted-user-data-table .submitted-user-data-table-link,
	.submitted-user-data-table-date {
		width: auto;
	}
}
