.table-responsive .cell-caption {
	display: none;
}

@media only screen and (max-width: var(--mobile-width)) {
	.table-responsive .cell-caption {
		display: flex;
		width: 50%;
		background-color: var(--normal-background);
		padding: 10px;
		color: var(--white-text);
	}
	.table-responsive .cell-body {
		display: flex;
		width: 50%;
		padding: 10px;
		flex-wrap: wrap;
	}
}
