.tooltip-target {
	position: relative;
}

.tooltip-container {
	border-radius: 4px;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
	background: #383838;
	color: white;
	padding: 8px 10px;
	font-size: 12px;
	line-height: 12px;
	position: absolute;
	opacity: 0;
	transition: 0.3s ease;
	visibility: hidden;
	z-index: 1;
}

.tooltip-target:hover .tooltip-container {
	opacity: 1;
	visibility: visible;
}

.tooltip-container * {
	color: var(--white-text);
}
.tooltip-container > * {
	margin-bottom: 11px;
}
.tooltip-container > *:last-child {
	margin-bottom: 0;
}

.tooltip-container ul {
	list-style-type: disc;
	padding-left: 22px;

}
.tooltip-container a:hover,
.tooltip-container a:focus,
.tooltip-container a:active {
	color: var(--white-text);
	text-decoration: none;
}
