.user-forms > * {
	margin-bottom: 22px;
	width: 100%;
}
.user-forms > *:first-child {
	margin-top: 22px;
}
.user-forms > form,
.user-forms > .disabler-range,
.user-forms > .disabler-range > .disabler-range,
.user-forms > .disabler-range > form  {
	margin-bottom: 0;
}
.user-forms > form > *,
.user-forms > .disabler-range > *,
.user-forms > .disabler-range > .disabler-range > *,
.user-forms > .disabler-range > form > * {
	margin-bottom: 22px;
}

.user-forms > .pagination {
	margin-bottom: 17px;
}

.user-forms h2 {
	font-weight: 300;
}

.user-forms .form-elements h2 {
	font-size: 25px;
}
