.user-forms .user-account-boxes {
	margin-bottom: 22px;
	margin-top: 44px;
}

.user-account-boxes > section {
	display: block;
}

.user-account-section-title {
	font-size: 18px;
	font-weight: 300;
}

.user-account-welcome header {
	font-size: 30px;
}

.user-account-boxes > section a {
	text-decoration: none;
}

.user-account-id-block {
	width:320px;
}

.user-account-boxes > section.user-account-welcome {
	color: var(--normal-text);
}

@media only screen and (max-width: 640px) {
	.user-account-boxes {
		display: block;
	}

	.user-account-id-block {
		width:100%;
		margin-bottom: 22px;
	}

	.user-account-boxes > section.user-account-welcome {
		width: 100%;
		margin-left: 0;
	}
}

.user-account-welcome header {
	display: flex;
	justify-content: space-between;
	margin:0;
	font-size: 25px;
}

.user-account-welcome .free-form {
	padding:11px 0;
	font-size: 17px;
	line-height: 33px;
}

h3.user-account-section-title {
	text-transform: uppercase;
	padding-top:22px;
	font-size: 22px;
}

.user-account-doc-data hr {
	margin:22px 0;
}

.user-account-service-boxes li {
	margin-top: 22px;
	padding-top:21px;
	border-top:1px solid #d7d7d7;
}
.user-account-service-boxes li:first-child {
	margin-top: 0;
	padding-top:0;
	border:none;
}

.user-account-service-box {
	display: flex;
}

.user-account-service-box > button,
.user-account-service-box > a {
	width: 250px;
	font-size: 16px;
	text-align: center;
	color: var(--normal-text);
	vertical-align: middle;
	text-decoration: none;
	background:none;
	padding: 8px 20px;
	box-shadow: none;
}

.user-account-service-box > button:hover,
.user-account-service-box > a:hover {
	color: var(--light-normal-text);
	background:none;
	box-shadow: none;
}

.user-account-service-box > div {
	width: calc(100% - 300px);
	margin-left: 20px;
	vertical-align: middle;
	color: var(--light-normal-text);
}

.user-account-service-box > div button {
	background: none;
	padding: 0;
	color:var(--dark-text);
	box-shadow: none;
}

.user-account-service-box > div button:hover {
	color: var(--light-normal-text);
	background: none;
	box-shadow: none;
}

.user-account-service-box > div a {
	text-decoration: none;
	color:var(--dark-text);
	box-shadow: none;
}

.user-account-service-box > div a:hover {
	color: var(--light-normal-text);
	box-shadow: none;
}

.user-account-service-box > div button .fa,
.user-account-service-box > div a .fa {
	text-align: left;
	margin-top:2px;
}

.user-account-service-box.disabled > div a {
	color: var(--error-text);
}

.user-account-service-box.disabled > a:hover {
	color: var(--normal-text);
}

.user-account-service-box.disabled > a:hover .fa {
	color:var(--dark-text);
}

@media only screen and (max-width: 640px) {
	.user-account-service-box {
		display: block;
	}

	.user-account-service-box > button,
	.user-account-service-box > a {
		width:100%;
	}

	.user-account-service-box > div {
		width: 100%;
		margin-left: 0;
		margin-top:22px;
	}
}

.user-account-service-box .user-account-service-button .fa,
.user-account-service-box .user-account-service-button .fa {
	font-size: 44px;
	line-height: 44px;
	width:100%;
	color:var(--dark-text);
}

.user-account-service-box > button:hover .fa,
.user-account-service-box > a:hover .fa {
	color: var(--light-normal-text);
}

.user-account-selector {
	line-height: 44px;
}

.user-account-content-selector {
	margin-bottom: 11px;
}

.user-account-tab.section-tab-nav-tab {
	font-size: 18px;
	padding: 21px 30px;
	text-transform: uppercase;
	line-height: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	color: var(--medium-text);
}

.user-account-tab.section-tab-nav-tab:focus,
.user-account-tab.section-tab-nav-tab:active,
.user-account-tab.section-tab-nav-tab:hover,
.user-account-tab.section-tab-nav-tab.active {
	color: var(--normal-text);
}

.user-forms > .user-account-section-title {
	text-transform: uppercase;
	padding-top:22px;
}

@media only screen and (max-width: 640px) {
	.user-account-tab.section-tab-nav-tab {
		margin-right: 0;
	}

	.user-account-tab.section-tab-nav-tab:focus,
	.user-account-tab.section-tab-nav-tab:active,
	.user-account-tab.section-tab-nav-tab:hover,
	.user-account-tab.section-tab-nav-tab.active {
		background-color: var(--white-background);
		padding-bottom: 21px;
	}
}
