/*
Component describing styles for guide steps menu - non-reusable
*/
.steps-menu {
	background-color: var(--dark-background);
	background-position: center center;
	background-size: cover;
	display: flex;
	padding: 11px 0;
	width: 100%;
}

.all-menu-items {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 100%;
}

.steps-menu input[type=checkbox] {
	display: none;
}

.steps-menu nav.steps {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 0px 10px;
	width: var(--desktop-width);
}

.steps-menu nav.steps a {
	margin: 0 0px;
	width: 100%;
}

.step-active {
	background-color: var(--normal-background);
	border-radius: 6px;
	border: 1px solid transparent;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	font-weight: normal;
	line-height: 22px;
	margin-bottom: 0;
	padding: 10px 0px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
}
.step-active:hover,
.step-active:focus,
.step-active:active {
	background-color: var(--normal-dark-background);
}

.step-unactive {
	background-color: #ffffff;
	background-image: none;
	border-color: #357ebd;
	border-radius: 6px;
	border: 1px solid transparent;
	color: #333333;
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	font-weight: normal;
	line-height: 22px;
	margin-bottom: 0;
	padding: 10px 0px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
}
.step-unactive:hover,
.step-unactive:focus,
.step-unactive:active {
	background-color: #e6e6e6;
	border-color: #adadad;
}

.steps-menu nav menuitem {
	background-color: #333;
	width: 100%;
	margin: 0 2px;
}
.show-steps-btn {
	display: none;
	width: 100%;

}
@media only screen and (max-width: 760px) {
	nav.steps menuitem a {
		font-size: 14px;
	}
}

/*
Styles applied while screen sieze is less than 640px
*/
@media only screen and (max-width: var(--mobile-width)) {
	div.steps-menu {
		min-width: var(--min-mobile-width);
	}

	div.steps-menu nav.steps {
		display: none;
	}

	.show-steps-btn {
		display: block;
		margin: 0 10px;

	}

	nav.steps menuitem a {
		font-size: 18px;
	}

	input[type=checkbox]:checked ~ .steps {
		display: flex;
		flex-wrap: wrap;
		padding-top: 11px;
	}

	input[type=checkbox]:checked ~ .steps menuitem {
		margin: 11px 0;
		text-align: center;
		width: 100%;
	}
	input[type=checkbox]:checked ~ .steps menuitem a {
		margin: 0 auto;
		width: 100%;
	}
	input[type=checkbox]:checked ~ .steps menuitem:last-child {
		margin-bottom: 0px;
	}
}