.user-official-tools {
		display: flex;
		justify-content: space-between;
}

.user-official-tools div, .user-official-tools  form {
	display: flex;
	width: 100%;
}

.user-official-tools label {
	text-align: left;
}

.user-official-tools .print-button {
	height: 30px;
	border-radius: 4px;
	color: var(--white-text);
	background-color: var(--normal-background);
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	font-size: 14px;
	margin-bottom: 22px;
	margin: -3px auto -5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
}

@media only screen and (max-width: var(--mobile-width)) {
	.user-official-tools {
		flex-wrap: wrap;
	}
	.section-primary > div.user-official-tools {
		padding-bottom: 22px;
	}
}
