.user-official-application-revision .button-main {
	margin-bottom: 22px;
}

.revision-required-documents-thumbs-list .document-confirmation {
	position: absolute;
	line-height: 18px;
	right: 0;
	display: block;
	border-radius: 10px;
	border: 1px solid var(--light-text);
	width: 20px;
	text-align: center;
	background: var(--white-background);
	margin-top: -8px;
	margin-right: -8px;
}
.document-confirmation.success {
	color: var(--success-text);
}
.document-confirmation.error {
	color: var(--error-text);
}

.revision-document {
	overflow-y: scroll;
}
