.user-doc-data > select {
	width: 100%;
}

.user-doc-data .submitted-user-data-table th {
	white-space: nowrap;
}

.user-doc-data-table-actions {
	width: 50px;
	text-align: center;
}

.user-doc-data .section-primary-sub > * {
	margin-top: 22px;
}
.user-doc-data .section-primary-sub > *:first-child {
	margin-top: 0;
}
