/*
*/
section.user-guide {
	background-color: var(--light-background);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto;
	max-width: var(--desktop-width);
	padding: 0px 10px;
}

section.user-guide h1, h3 {
	width: 100%;
}

section.user-guide h3.main-intro {
	margin-bottom: 0;
	margin-top: 22px;
}

form.guide-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

section.user-guide fieldset {
	-webkit-margin-end: 0;
	-webkit-margin-start: 0;
	-webkit-padding-after: 0.0;
	-webkit-padding-before: 21px;
	padding: 22px 15px 0 15px;
	width: 49%;
}

section.user-guide fieldset.m-cont-box {
	margin-bottom: 20px;
}
section.user-guide button.save-step-one {
	border-radius: 6px;
	-moz-user-select: none;
	background-color: #428bca;
	background-image: none;
	border-color: #357ebd;
	border: 1px solid transparent;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	font-weight: normal;
	line-height: 22px;
	margin-bottom: 0;
	padding: 10px 16px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
	width: 49%;
}
section.user-guide button.save-step-one:hover,
section.user-guide button.save-step-one:focus,
section.user-guide button.save-step-one:active {
	color: #ffffff;
	background-color: #3071a9;
	border-color: #285e8e;
	text-decoration: none;
}

section.user-guide fieldset hr {
	margin-bottom: 20px;
}

h4.guide-total-costs {
	background-color: var(--light-background);
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	padding: 10px 0;
	line-height: 22px;
}

/*
Styles applied while screen sieze is less than 640px
*/
@media only screen and (max-width: var(--mobile-width)) {
	section.user-guide {
		min-width: var(--min-mobile-width);
	}
	section.user-guide fieldset {
		width: 100%;
	}

	section.user-guide button.save-step-one {
		width: 100%;
	}
}