/*
	Component describing styles for guide steps menu
*/
.user-steps-menu {
	background-color: var(--normal-dark-background);
	color: var(--white-text);
	padding: 11px 0;
	/* Below rules needed for fixed view */
	width: 100%;
	z-index: 3;
}
.user-steps-menu a {
	color: var(--white-text);
}

.user-steps-menu-fixed-top-placeholder {
	height: 66px;
}
.user-forms > .user-steps-menu-fixed-top-placeholder:first-child {
	margin-top: 0;
}

.user-steps-menu-wrapper {
	display: flex;
}

.user-steps-menu input[type=checkbox] {
	display: none;
}

.user-steps-menu-list {
	display: flex;
	justify-content: space-between;
	width: 100%;
	list-style-type: none;
}

.user-steps-menu-list li {
	margin: 0 2px;
	border-radius:5px 0 0 5px;
	border:none;
}

.user-steps-menu-show,
.user-steps-menu-list li > a {
	width: 100%;
	display: inline-block;
	white-space: nowrap;
	font-weight: 500;
	font-size: 21px;
	text-shadow: none;
	padding-top:11px;
	padding-bottom:11px;
}

label.user-steps-menu-show {
	cursor: pointer;
	display: none;
	width: 100%;
}

@media only screen and (max-width: 760px) {
	.user-steps-menu-list li > a {
		font-size: 14px;
	}
}

/*
Styles applied while screen size is less than 640px
*/
@media only screen and (max-width: var(--mobile-width)) {
	nav.user-steps-menu {
		position: relative;
	}

	.user-steps-menu-list {
		display: none;
	}

	.user-steps-menu-list li {
		width: 100%;
	}

	.user-steps-menu-wrapper {
		width: 100%;
		flex-wrap: wrap;
	}

	label.user-steps-menu-show {
		display: block;
	}

	input[type=checkbox]:checked ~ .user-steps-menu-list {
		display: flex;
		flex-wrap: wrap;
	}

	input[type=checkbox]:checked ~ .user-steps-menu-list li {
		margin: 11px 0;
	}
}
