.user-documents-upload > li {
	margin-bottom: 22px;
}
.user-documents-upload small {
	color: var(--normal-text);
	display:block;
}

.user-documents-upload .info-main {
	margin-top: 11px;
	margin-bottom: 11px;
}

.section-primary.user-documents-upload-rejected {
	border-color: var(--error-background);
}

.user-documents-upload-original {
	background: var(--light-background);
}

.user-documents-upload-original.section-primary > h2 {
	color:var(--medium-text);
}

.user-documents-upload-original .file-thumb-image {
	background: var(--white-background);
}
