.user-official-application-revision .button-main {
	margin-bottom: 22px;
}

.revision-required-documents-list {
	display: flex;
	justify-content: space-between;
	counter-reset:li;
	margin: 32px 0;
	padding-left: 10px;
}

.revision-required-documents-list li {
	position: relative;
	margin-bottom: 0;
	margin-left: 15px;
	padding: 0 8px 11px 8px;
	list-style: none;
	font-size: 15px;
}

.revision-required-documents-list > li:before {
	content: counter(li);
	counter-increment: li;
	position: absolute;
	left: -24px;
	bottom: 12px;
	width: 19px;
	height: 19px;
	margin-right: 8px;
	border-top:1px solid var(--normal-dark-background);
	border-radius: 50%;
	color:	var(--white-text);
	background:	var(--normal-dark-background);
	text-align: center;
	font-size: 11px;
	line-height: 18px;
	font-weight: bold;
}

.revision-required-documents-thumbs-list .document-confirmation {
	position: absolute;
	line-height: 18px;
	right: 0;
	display: block;
	border-radius: 10px;
	border: 1px solid var(--light-text);
	width: 20px;
	text-align: center;
	background: var(--white-background);
	margin-top: -8px;
	margin-right: -8px;
}
.document-confirmation.success {
	color: var(--success-text);
}
.document-confirmation.error {
	color: var(--error-text);
}

.revision-document {
	overflow-y: scroll;
}
