/* More specifity */
.user-steps-menu {
	background: var(--dark-background);
}
.user-steps-menu ul.user-steps-menu-list li > a {
	background: var(--dark-text);
}

/* V2 case */
.user-steps-menu ul li {
	margin: 0 10px;
	background: white;
	border-radius: 5px 0 0 5px;
}
.user-steps-menu ul li:after {
	content: url('img/arrow-mask.png');
	position: absolute;
	right: 0;
}

.user-steps-menu-list li {
	position: relative;
}
.user-steps-menu-list li:first-child {
	margin-left: 0;
}
.user-steps-menu-list li:last-child {
	margin-right: 0;
}

.user-steps-menu ul.user-steps-menu-list li > a {
	background-color: transparent;
	border-radius: 6px;
	color: black;
	display: inline-block;
	font-size: 18px;
	padding: 11px 0 11px 10px;
	text-align: left;
	text-decoration: none;
	position: relative;
	z-index: 4;
}

.user-steps-menu-item-progress {
	height: 100%;
	top: 0;
	width: 0;
	background: linear-gradient(to top, var(--normal-background), var(--white-background));
	position: absolute;
	border-radius: 5px 0 0 5px;
	border-right: 1px solid var(--normal-dark-background);
}

@media only screen and (max-width: 790px) {
	.user-steps-menu ul.user-steps-menu-list li > a {
		font-size: 14px;
	}
}

/*
Styles applied while screen sieze is less than 640px
*/
@media only screen and (max-width: var(--mobile-width)) {

	.user-steps-menu-show {
		display: block;
		background-color: var(--white-background);
		border-radius: 6px;
		color: black;
		font-size: 18px;
		padding: 11px 0 11px 20px;
		text-align: center;
	}

	.user-steps-menu ul.user-steps-menu-list li > a {
		font-size: 18px;
		text-align: center;
	}
}
