.user-form, .partners {
	margin: 22px auto 0;
	max-width: var(--desktop-width);
	padding: 0 10px;
}

.user-form fieldset,  .partners div {
	background-color: #ffffff;
	border-radius: 5px;
	border: 1px solid var(--light-inner-border);
	padding: 20px 15px 0 15px;
}

.forms .label {
	width: 30%;
}

.controls a {
	background-color: var(--normal-background);
	border-radius: 3px;
	color: #ffffff;
	cursor: pointer;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
	padding: 3px 7px 4px;
	text-align: center;
	text-decoration: none;
	vertical-align: text-bottom;
	white-space: nowrap;
}
.controls a:hover,
.controls a:focus,
.controls a:active {
	background-color: var(--normal-dark-background);
}

.next-step {
	max-width: var(--desktop-width);
	padding: 22px 10px;
	margin: 0 auto;
}
.next-step a {
	background-color: var(--normal-background);
	border-radius: 6px;
	border: 1px solid transparent;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	font-weight: normal;
	line-height: 22px;
	margin-bottom: 0;
	padding: 10px 16px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
	width: 49%;
}
.next-step a:hover,
.next-step a:focus,
.next-step a:active {
	background-color: var(--normal-dark-background);
}

.new-partner {
	background-color: var(--normal-background);
	border-radius: 6px;
	border: 1px solid transparent;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	font-weight: normal;
	line-height: 22px;
	margin-bottom: 22px;
	padding: 10px 16px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
	width: 25%;
}
.new-partner:hover,
.new-partner:focus,
.new-partner:active {
	background-color: var(--normal-dark-background);
}

.actions {
	text-align: center;
}
.actions a:first-child {
	margin-right: 15%;
}
.actions a {
	background-color: var(--normal-background);
	border-radius: 3px;
	color: #ffffff;
	cursor: pointer;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
	padding: 3px 7px 4px;
	text-align: center;
	text-decoration: none;
	vertical-align: text-bottom;
	white-space: nowrap;
}
.actions a:hover,
.actions a:focus,
.actions a:active {
	background-color: var(--normal-dark-background);
}

.confirmed {
	text-align: center;
	color: rgb(46,139,87);
}
@media only screen and (max-width: var(--mobile-width)) {
	.forms  .label {
		width: 100%;
		text-align: center;
	}
	.next-step a {
		width: 100%;
	}
	.forms li .dbjs-input-component.optional {
		justify-content: center;
	}
	.forms li .dbjs-input-component.optional .validation-status {
		margin-top: 0;
	}
	.forms li .controls a {
		min-width: 120px;
		display: block;
	}

	.new-partner {
		width: 100%;
	}

	.confirmed {
		text-align: left;
	}

	.actions {
		text-align: left;
		display: inline;
	}
	.actions a {
		width: 35%;
	}

	/* Label the data*/
	.partners-list td:nth-of-type(1):before { content: "Entity"; }
	.partners-list td:nth-of-type(2):before { content: "First name"; }
	.partners-list td:nth-of-type(3):before { content: "Surname"; }
	.partners-list td:nth-of-type(4):before { content: "Director?"; }
	.partners-list td:nth-of-type(5):before { content: "Subscriber?"; }
	.partners-list td:nth-of-type(6):before { content: ""; }
	.partners-list td:nth-of-type(7):before { content: "Actions"; }
}
