.user-submission-sworn-declaration {
	padding-bottom: 22px;
	font-size: 18px;
	font-weight: 300;
}

a.user-submission-button,
[type="submit"].user-submission-button {
	background-color: var(--normal-background);
	border-radius: 6px;
	border: 1px solid transparent;
	color: var(--white-text);
	cursor: pointer;
	font-size: 18px;
	font-weight: normal;
	line-height: 22px;
	margin-bottom: 0;
	padding: 10px 16px;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	display: block;
	width: 100%;
}

a.user-submission-button:hover,
a.user-submission-button:focus,
a.user-submission-button:active,
[type="submit"].user-submission-button:hover,
[type="submit"].user-submission-button:focus,
[type="submit"].user-submission-button:active {
	background-color: var(--normal-dark-background);
}
