.user-documents-upload > li {
	margin-bottom: 22px;
}
.user-documents-upload small {
	color: var(--normal-text);
	display:block;
}
.user-documents-upload .file-uploader {
	margin-top: 0;
}

.user-documents-upload .info-main {
	margin-top: 11px;
	margin-bottom: 11px;
}

.section-primary.user-documents-upload-rejected {
	border-color: var(--error-background);
}
