.user-next-step-button a,
.user-next-step-button [type=submit] {
	background-color: var(--normal-background);
	border-radius: 6px;
	border: 1px solid transparent;
	color: var(--white-text);
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	padding: 10px 16px;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	width: 49%;
}

.user-next-step-button a:hover,
.user-next-step-button a:focus,
.user-next-step-button a:active {
	background-color: var(--normal-dark-background);
}

@media only screen and (max-width: var(--mobile-width)) {
	.user-next-step-button a {
		min-width: var(--min-mobile-width);
	}
}
