.mobile-table-view-head {
	display: none;
}

.user-submitted-data-table thead {
	background-color: var(--normal-background);
}
.user-submitted-data-table thead th {
	color: var(--white-text);
}

.user-submitted-data-table tbody tr {
	background-color: var(--white-text);
}

.user-submitted-data-table th, .table-submitted td {
	border: 1px solid var(--light-inner-border);
}

@media only screen and (max-width: var(--mobile-width)) {

	.mobile-table-view-head {
		display: flex;
		width: 50%;
		background-color: var(--normal-background);
		padding: 6px;
		color: var(--white-text);
	}
	.mobile-table-view-body {
		display: flex;
		width: 50%;
		padding: 6px;
		flex-wrap: wrap;
	}

	.user-submitted-data-table tr {
		border: 1px solid var(--light-inner-border);
		height: auto;
		}

	.user-submitted-data-table td {
		border-bottom: 1px solid var(--light-inner-border);
		position: relative;
		}

	.user-submitted-data-table td {
		display: flex;
		justify-content: space-around;
		padding: 0;
		}

	.user-submitted-data-table th {
		display: none;
	}
}
