.users-table-filter-bar {
		display: flex;
		justify-content: space-between;
		padding-bottom: 0;
		padding-top: 20px;
}
.users-table-filter-bar > * {
	margin-bottom: 0;
}
.users-table-filter-bar > form > *:last-child,
.users-table-filter-bar > div:last-child  {
	margin-bottom: 11px;
}

.users-table-filter-bar div,
.users-table-filter-bar form {
	display: inline-block;
}

.users-table-filter-bar-status {
	max-width: 50%;
}
.users-table-filter-bar-status > select {
	max-width: 85%;
}

.users-table-filter-bar form > div {
	white-space: nowrap;
}

.users-table-filter-bar div {
	line-height: 44px;
	margin: -11px 20px 11px 0;
}

.users-table-filter-bar label {
	text-align: left;
}
.users-table-filter-bar label {
		margin-left: 30px;
}
.users-table-filter-bar label:first-child {
	margin-left: 0;
	margin-right: 5px;
}

.users-table-filter-bar-print {
	border-radius: 4px;
	color: var(--white-text);
	background-color: var(--normal-background);
	padding: 7px 10px;
	white-space: nowrap;
	text-decoration: none;
}
.users-table-filter-bar-print:hover,
.users-table-filter-bar-print:focus,
.users-table-filter-bar-print:active {
	color: var(--white-text);
	background-color: var(--normal-dark-background);
}

.users-table-filter-bar-print .fa {
	margin-right: 5px;
	position: relative;
	top: 2px;
}

@media only screen and (max-width: var(--mobile-width)) {
	.users-table-filter-bar,
	.users-table-filter-bar form {
		flex-wrap: wrap;
	}
	.users-table-filter-bar div:last-child {
		width: 100%;
	}
	.users-table-filter-bar-print {
		text-align: center;
	}
	.users-table-filter-bar form div:last-child {
		margin-right: 0;
	}
	.users-table-filter-bar-status {
		max-width: 100%;
	}
}
