/*
	Component describing styles for guide page of not submited user - non-reusable
*/

.user-guide {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 22px;
}

.user-guide > * {
	width: 49%;
}

.user-guide-requirements-list {
	padding-left: 22px;
	list-style-type: disc;
}

.user-guide-requirements-list > li > ul > li:first-child {
	display: inline-flex;
}

.user-guide-costs-list {
	padding-left: 0;
	list-style-type: none;
}

.user-guide-costs-list li {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
}

.user-guide-total-costs {
	background-color: var(--light-background);
	border-bottom: 1px solid var(--normal-background);
	border-top: none;
	padding: 10px 5px 11px;
	margin-top: 21px;
	margin-bottom: 22px;
	font-weight: bolder;
	font-size:16px;
}

.user-guide-costs-list-label {
	max-width: 85%;
}

.user-guide-costs-list li span > small {
	display: block;
}

.user-guide-no-requested-registrations-info {
	width: 100%;
	text-align: center;
}

.user-guide-inventory-button {
	padding-left: 40%;
	padding-top: 11px;
	padding-bottom: 11px;
}

.user-guide-inventory-icon {
	font-size: 30px;
	margin-bottom: -10px;
	margin-top: -5px;
}
@-moz-document url-prefix() {
	.user-guide-inventory-button .fa-calculator {
		margin-bottom: -11px;
	}
}

/* Safari 8+ fixes for inventory-icon */

_::-webkit-full-page-media, _:future, :root .user-guide-inventory-icon {
	top: 4px;
	position: relative;
}

.user-guide-inventory-label {
	background: var(--normal-background);
	color: var(--white-text);
	padding: 2px 5px 2px 2px;
	margin-left: -2px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.user-guide-inventory-button a {
	padding-left: 10px;
	text-decoration: none;
	white-space: nowrap;
}

a:hover .user-guide-inventory-label,
a:focus .user-guide-inventory-label,
a:active .user-guide-inventory-label {
	background: var(--normal-dark-background);
}

/* IE11 fixes for input aside in .user-guide-requirements-list */
_:-ms-fullscreen, :root .user-guide-requirements-list .input-aside > span {
	display: inline-block;
}
_:-ms-fullscreen, :root .user-guide-requirements-list .input-aside > span:last-child {
	max-width: 415px;
}

/*
Styles applied while screen size is less than 640px
*/
@media only screen and (max-width: var(--mobile-width)) {
	.user-guide {
		min-width: var(--min-mobile-width);
	}

	.user-guide .section-primary {
		width: 100%;
	}

	.user-guide-inventory-button {
		padding-left: 0;
	}
}
