.user-steps-menu-list li {
	flex-basis: 0;
	flex-grow: 2;
}
.user-steps-menu-show, .user-steps-menu-list li > a {
	background-color: var(--white-background);
	border-radius: 6px;
	color: var(--dark-text);
	display: inline-block;
	font-size: 18px;
	padding: 11px 0;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
}
.user-steps-menu-show, .user-steps-menu-list li > .step-active {
	background-color: var(--normal-background);
	color: var(--white-text);
}

.user-steps-menu-list li > a:hover,
.user-steps-menu-list li > a:focus,
.user-steps-menu-list li > a:active {
	background-color: var(--normal-background);
	color: var(--white-text);
}

.user-steps-menu {
	padding-bottom: 4px;
}

.user-steps-menu-item-progress {
	height: 5px;
	width: 0;
	margin-top: 2px;
	background-color: var(--light-background);

}

@media only screen and (max-width: var(--mobile-width)) {
	.user-steps-menu {
		padding-bottom: 11px;
	}
	input[type=checkbox]:checked ~ .user-steps-menu-list li {
		flex-basis: auto;
		margin-bottom: 4px;
	}
}
