/*
*/
.steps-menu {
	background-color: #333;
	background-position: center center;
	background-size: cover;
	display: flex;
	padding: 11px 0;
	width: 100%;
}

.all-menu-items{
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 95%;
}

.show-steps-btn {
	display: none;
	width: 100%;

}

input[type=checkbox] {
	display: none;
}

.steps-menu nav.steps {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 1050px;
}

nav.steps menuitem button.btn-lg {
	padding: 10px 25px;
}

.steps-menu nav menuitem {
	background-color: #333;
}

/*
Styles applied while screen sieze is less than 640px
*/
@media only screen and (max-width: 640px) {
	div.steps-menu nav.steps {
		display: none;
	}

	.show-steps-btn {
		display: block;
		margin: 0 auto;
	}

	input[type=checkbox]:checked ~ .steps {
		display: flex;
		flex-wrap: wrap;
		padding-top: 11px;
	}

	input[type=checkbox]:checked ~ .steps menuitem {
		margin: 11px 0;
		text-align: center;
		width: 100%;
	}
	input[type=checkbox]:checked ~ .steps menuitem button {
		margin: 0 auto;
		width: 100%;
	}
	input[type=checkbox]:checked ~ .steps menuitem:last-child {
		margin-bottom: 0px;
	}
}