.toggle-links {
	display: none;
}

ul.greedy-menu-items {
	display: inline-block;
	padding: 0;
	margin: 0;
}

ul.greedy-menu-items li {
	display: inline-block;
}

ul.greedy-menu-items a {
	display: block;
	padding: 11px 25px;
	text-decoration: none;
	white-space: nowrap;
	line-height: 22px;
	color: #000;
}
