.header-top-wrapper {
	overflow: hidden;
}

.header-top-logo img {
	border: none;
}
.header-top-wrapper > * {
	display: inline-block;
	vertical-align: top;
}
.header-top-wrapper > nav {
	float: right;
	position: relative;
}
.header-top-menu li {
	display: inline-block;
	vertical-align: middle;
}
