.public-banner-text {
	width: 100%;
}
.public-banner-text > * {
	display: inline-block;
	width: 50%;
}
.public-baner-box-img {
	line-height: 374px;
}
.public-baner-box-img img {
	vertical-align: bottom;
	display: inline;
}
