.public-multi-entry > div {
	text-align: center;
}

.public-multi-entry-entrance {
	display: inline-block;
	margin: 0 10%;
}
.public-multi-entry-entrance a {
	display: block;
	line-height: 100px;
}
.public-multi-entry-entrance a > p {
	width: 70%;
	display: inline-block;
	line-height: 22px;
	vertical-align: bottom;
}
.public-multi-entry-entrance a > .public-multi-entry-action {
	vertical-align: top;
}
