.public-multi-entry > div {
	text-align: center;
}

.public-multi-entry-single-entry {
	display: inline-block;
	margin: 0 10%;
}
.public-multi-entry-single-entry a {
	display: block;
	line-height: 100px;
}
.public-multi-entry-single-entry a > p {
	width: 100%;
	display: inline-block;
	line-height: 22px;
	vertical-align: bottom;
}
.public-multi-entry-single-entry a > .public-multi-entry-action {
	vertical-align: top;
}
