.submitted-menu .submitted-menu-items li {
	display: inline-block;
}
.submitted-menu-bar > nav {
	display: inline-block;
}
.submitted-menu-bar {
	overflow: hidden;
}
.submitted-menu-bar > nav {
	float: right;
}
.submitted-menu-bar > nav:first-child {
	float: left;
}

.submitted-menu-items li {
	padding-left: 0.01px; /* IE 8 fix of weird width calculation */
}
