.user-guide-lomas-form-components > form > section > *,
.user-guide-lomas-result > * {
	display: inline-block;
	vertical-align: top;
}
.user-guide-lomas-info {
	display: block;
}
.user-guide-lomas-cost-value {
	display: inline-block;
}
