.user-guide > * {
	display: inline-block;
	vertical-align: top;
}
.user-guide > .section-primary {
	margin-right: 10px;
}

.user-guide-costs-list li {
	display: block;
	display: flex;
}

.user-guide-requirements-list > li > ul > li:first-child {
	display: block;
}

.user-guide .user-guide-requirements-list > li > ul > li:first-child {
	margin-top: 0;
}

/* IE9 only  */
@media screen and (min-width:0\0) and (min-resolution: .001dpcm) {
	.user-guide-requirements-list > li > ul > li:first-child {
		margin-top: -22px;
	}
}
/* IE8 only  */
html>/**/body .user-guide-requirements-list > li > ul > li:first-child {
	margin-top: -22px;
}
