body.legacy div.modal-backdrop { display: none; }

body div.modal-backdrop .loader { width:90px; height:90px; position:fixed; top: 45%; left: 48%;	margin: auto; opacity: 0; visibility: hidden; -webkit-transition: opacity 0.2s ease-out, visibility 0s 0.19s; }

body.loading div.modal-backdrop .loader { opacity: 0.8; visibility: visible; -webkit-transition: opacity 0.2s ease-in; }

body.dialog-modal-on div.modal-backdrop,
body.loading div.modal-backdrop { opacity: 0.8; visibility: visible; -webkit-transition: opacity 0.2s ease-in; }

body.modal-in.loading div.modal-backdrop,
body.dialog-modal-on.loading div.modal-backdrop,
body.dialog-modal-off.loading div.modal-backdrop { z-index: 10510 !important; opacity: 0.8; visibility: visible; -webkit-transition: opacity 0.2s ease-in; }

.windows8 { position: relative; width: 90px; height:90px; box-sizing: border-box; }

.windows8 span { position: absolute; height: 20px; margin-top: 30px; margin-left: 15px; color:#fff; font-weight: bold;}
